.color-pattle {
    --color: #2a8476;
    --color: #feb12e;
    --color: #43be95;
}
.tmc-re {
    position: relative;
}
/* 分享链接 */
.tmc-media {
    display: inline-block;
    height: 30px;
    margin: auto 10px;
    font-size: 24px;
    color: #333;
}
.tmc-media:hover,.tmc-media:focus {
    color: #333;
}
.tmc-nav-footer .tmc-media, .tmc-nav-footer .tmc-media:hover {
    color: #fff;
}
.tmc-nav-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 8px;
}

/* 包含 logo 及分享标签的 header */
.tmc-header {
    margin: 10px 0;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: relative;
}
/* 导航 container */
.tmc-navbar {
    background-color: #2a8476;
    color: #fff;
    z-index: 20;
}
a,a:visited,a:hover,a:active,a:focus {
    text-decoration: none;
}
/* 导航文字 */
.tmc-nav-item>a {
    color: #fff;
    font-size: 1.2em;
}

@media screen and (max-width: 991px) {
    .tmc-header {
        text-align: left;
        padding-left: 12px;
    }
    .logo img {
        max-width: 200px;
    }
    .tmc-nav-item {
        text-align: left;
        margin: 10px auto;
    }
    .tmc-nav-item:hover>a {
        color: #feb12e;
    }
    .tmc-nav-item>a {
        font-size: 22px;
    }
    /* 下拉菜单 */
    .tmc-dropdown {
        display: none;
        position: relative;
    }
    /* 下拉文字 */
    .tmc-dropdown>a {
        padding: 0 26px;
        font-size: 15px;
        display: block;
        color: #fff;
        line-height: 18px;
        margin: 6px auto;
    }
    .tmc-dropdown>a::before {
        content: '';
        color: #fff;
        width: 6px;
        height: 6px;
        border: solid white 1px;
        border-radius: 100%;
        display: inline-block;
        background-color: #fff;
        position: absolute;
        margin: 6px 0;
        left: 10px;
    }
    .tmc-dropdown>a:hover {
        color: #feb12e;
    }
    .tmc-navbar {
        position: fixed;
        right: -85vw;
        width: 85vw;
        padding: 70px 12px 12px 12px;
        height: 100vh;
        top: 0;
    }
}
@media screen and (min-width: 992px) {
    /* 导航项 */
    .tmc-nav-item {
        font-size: 1.2em;
        height: 35px;
        line-height: 35px;
        display: inline-block;
        position: relative;
        padding: 0 35px;
        margin: 0 12px;
        cursor: pointer;
    }
    .tmc-nav-item:hover {
        background-color: #feb12e;
    }
    .tmc-nav-item:hover>a {
        color: #000;
    }
    /* 下拉菜单 */
    .tmc-dropdown {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #fff;
        min-width: 100%;
        left: 0px;
        top: 35px;
        text-align: left;
        padding: 0;
        z-index: 15;
    }
    /* 下拉文字 */
    .tmc-dropdown>a {
        height: 42px;
        line-height: 42px;
        padding: 0 24px;
        display: block;
        min-width: max-content;
        color: #333;
    }
    .tmc-dropdown>a:hover {
        background-color: #eee;
    }
    .tmc-nav-item:hover .tmc-dropdown {
        display: block;
    }
}

/* 滚动图片容器相关 */
.tmc-img-roller {
    height: 400px;
    overflow: hidden;
}
.tmc-img-roller div {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    transition: transform 5s linear;
}
.tmc-img-roller div:nth-child(1) {
    display: block;
    transform: scale(1.0);
}
.tmc-left, .tmc-right {
    position: absolute;
    top: 0;
    width: 100px;
    height: 400px;
    line-height: 400px;
    font-size: 40px;
    color: rgba(255,255,255,0.4);
    transition: color .2s;
    cursor: pointer;
    text-align: center;
    z-index: 11;
}
.tmc-left:hover, .tmc-right:hover {
    color: rgba(255, 255, 255, 1);
}
.tmc-left {
    left: 15%;
}
.tmc-right {
    right: 15%;
}
@media screen and (max-width: 1500px) {
    .tmc-left {
    left: 5vw;
    }
    .tmc-right {
    right: 5vw;
    }
}
@media screen and (max-width: 600px) {
    .tmc-img-roller {
    height: 200px;
    }
    .tmc-left {
    line-height: 200px;
    left: 3vw;
    }
    .tmc-right {
    line-height: 200px;
    right: 3vw;
    }
}
/* 滚动图片容器相关结束 */
