<style>
h4 {
    font-size: 14px;
    margin: 0px;
    font-weight: 500; 
    color: white;
}

p {
    font-size: 8px !important;
    margin: 0px !important;
    text-align: left !important;
}

.row {
    margin-bottom: 30px;
}



.card { 
    padding: 5px; 
    border-radius: 4px;
    position: relative;
}

.card-title {
    font-weight: 700; 
    text-align: center;
    position: absolute;
    bottom: 5px;
}

.architecture {
    background-color: #85b5a2;
}
.construction {
    background-color: #62928b;
}
.equipment {
    background-color: #61968a;
}
.communication {
    background-color: #85aaa1;
}

/* 小屏 */
@media screen and (max-width: 991px) {
.col-md-2 {
    width: 100%;
    padding: 7.5px 15px;
}
}
/* 大屏 */
@media screen and (min-width: 992px) {
.col-md-2 {
    width: 20%;
}



</style>

<div class="container-fluid">
    <div class="tmc-home-body">
        <div class="row"> <!-- 第一行 -->
            
            <div class="col-md-2">
                <div class="card architecture">
                    <h4 data-tr>Group Architecture Design</h4>
                    <img class="card-img-top" src="./components/members/WH.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="汪昊">Wang Hao</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card construction">
                    <h4 data-tr>Group Contruction Tech</h4>
                    <img class="card-img-top" src="./components/members/ZWH.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="张文豪">Zhang Wenhao</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card equipment">
                    <h4 data-tr>Group Architecture Design</h4>
                    <img class="card-img-top" src="./components/members/LYW.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="梁英伟">Liang Yingwei</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card construction">
                    <h4 data-tr>Group Contruction Tech</h4>
                    <img class="card-img-top" src="./components/members/XF.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="徐斐">Xu Fei</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card architecture">
                    <h4 data-tr>Group Architecture Design</h4>
                    <img class="card-img-top" src="./components/members/LSX.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="梁淑贤">Liang Shuxian</h4>
                    </div>
                </div>
            </div>
        </div> <!-- .row 结束 -->
    
        <div class="row"> <!-- 第二行 -->

            <div class="col-md-2">
                <div class="card equipment">
                    <h4 data-tr>Group Architecture Design</h4>
                    <img class="card-img-top" src="./components/members/WRJX.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="王若瑾希">Wang Ruojinxi</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card construction">
                    <h4 data-tr>Group Contruction Tech</h4>
                    <img class="card-img-top" src="./components/members/HLZ.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="何麟治"">He Linzhi</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card construction">
                    <h4 data-tr>Group Contruction Tech</h4>
                    <img class="card-img-top" src="./components/members/CRP.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="陈冉鹏">Chen Ranpeng</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card construction">
                    <h4 data-tr>Group Contruction Tech</h4>
                    <img class="card-img-top" src="./components/members/ZKX.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="郑凯翔">Zhen Kaixiang</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card construction">
                    <h4 data-tr>Group Contruction Tech</h4>
                    <img class="card-img-top" src="./components/members/WQ.PNG" alt="Card image" style="width:100%;">
                    <div class="card-body">
                        <h4 class="card-title" data-tr-zh="王琼">Wang Qiong</h4>
                    </div>
                </div>
            </div>
    
            </div> <!-- .row 结束 -->
    
            <div class="row"> <!-- 第三行 -->

                <div class="col-md-2">
                    <div class="card architecture">
                        <h4 data-tr>Group Architecture Design</h4>
                        <img class="card-img-top" src="./components/members/ZSY.PNG" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <h4 class="card-title" data-tr-zh="朱姝妍">Zhu Shuyan</h4>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-2">
                    <div class="card equipment">
                        <h4 data-tr>Group Architecture Design</h4>
                        <img class="card-img-top" src="./components/members/ZZR.PNG" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <h4 class="card-title" data-tr-zh="周忠瑞">Zhou Zhongrui</h4>
                        </div>
                    </div>
                </div>   

                <div class="col-md-2">
                    <div class="card architecture">
                        <h4 data-tr>Group Architecture Design</h4>
                        <img class="card-img-top" src="./components/members/YJ.PNG" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <h4 class="card-title" data-tr-zh="闫瑾">Yan Jin</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card communication">
                        <h4 data-tr>Group Communication</h4>
                        <img class="card-img-top" src="./components/members/ZWJ.PNG" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <h4 class="card-title" data-tr-zh="张蔚杰">Zhang Weijie</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card communication">
                        <h4 data-tr>Group Communication</h4>
                        <img class="card-img-top" src="./components/members/DMH.PNG" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <h4 class="card-title" data-tr-zh="邓美惠">Deng Meihui</h4>
                        </div>
                    </div>
                </div>
                    
                    
            </div> <!-- .row 结束 -->

            <div class="row"><!-- 第四行开始 -->

                <div class="col-md-2">
                    <div class="card communication">
                        <h4 data-tr>Group Communication</h4>
                        <img class="card-img-top" src="./components/members/HMX.PNG" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <h4 class="card-title" data-tr-zh="黄明铉">Huang Mingxuan</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card communication">
                        <h4 data-tr>Group Communication</h4>
                        <img class="card-img-top" src="./components/members/ZYQ.PNG" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <h4 class="card-title" data-tr-zh="张玥琪">Zhang Yueqi</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card architecture">
                        <h4 data-tr>Group Architecture Design</h4>
                        <img class="card-img-top" src="./components/members/PCY.PNG" alt="Card image" style="width:100%;">
                        <div class="card-body">
                            <h4 class="card-title" data-tr-zh="彭程遥">Peng Chengyao</h4>
                        </div>
                    </div>
                </div>
            </div><!-- .row 结束 -->
    </div>

</div>

