<link rel="stylesheet" type="text/css" href="stylemember.css">
<script>
window.addEventListener("resize",scrollGrid);
window.addEventListener("scroll",scrollGrid);

function scrollGrid() {
	let bodyHeight = document.body.offsetHeight,
		mainHeight = document.querySelector("main").offsetHeight,
		cards = document.querySelector(".cards"),
		transY = (window.pageYOffset / (mainHeight - bodyHeight)) * -100;
	
	cards.style.setProperty("--scroll", "-" + transY + "%");
}
window.onload = scrollGrid;
</script>
<div class="members">
	<main>
		<div class="cards">
			<a class="stack" href="#">
					<div class="card top">
					  <div class="contents">
						<h2>Team <strong>SCUT</strong></h2>
						<h3>汪 昊</h3>建 筑 设 计 组
						<img class="mp" src="WH.png" alt="wh">
					  </div>
					</div>
					<div class="card mid-top">
					  <div class="contents">
						<div class="hidden">建筑学 硕士研究生</div>
					  </div>
					</div>
					<div class="card bottom">
					  <div class="contents">
						<div class="hidden">Hello!</div>
					  </div>
					</div>
					<div class="card shadow"></div>
				  </a>
			  <!--汪昊-->	 			
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong></h2>
					  <h3>张 文 豪</h3>建 造 技 术 组 
					  <img class="mp" src="ZWH.png" alt="ZWH" >
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 博士研究生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Welcome to our site!</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--张文豪-->
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong></h2>
					  <h3>梁 英 伟</h3>设 备 性 能 组
					  <img class="mp" src="LYW.png" alt="lyw">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Nice to meet you!</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--梁英伟-->
			<a class="stack" href="#">
					<div class="card top">
					  <div class="contents">
						<h2>Team <strong>SCUT</strong>
						</h2>
						<h3>邓 美 慧</h3>宣 传 运 营 组
						<img class="mp" src="DMH.png" alt="DMH">
					  </div>
					</div>
					<div class="card mid-top">
					  <div class="contents">
						<div class="hidden">风景园林 本科生</div>
					  </div>
					</div>
					<div class="card bottom">
					  <div class="contents">
						<div class="hidden">Nice to meet you!&nbsp;</div>
					  </div>
					</div>
					<div class="card shadow"></div>
				  </a>
			  <!--邓美惠-->	
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>胡 博 明</h3>建 造 技 术 组
					  <img class="mp" src="HBM.png" alt="HBM" >
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--胡博明-->	  

			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong></h2>
					  <h3>黄 明 铉&nbsp;</h3>宣 传 运 营 组
					  <img class="mp" src="HMX.png" alt="HMX">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">风景园林 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Nice to meet you!</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--黄明铉-->			
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>张 玥 琪</h3>宣 传 运 营 组
					  <img class="mp" src="ZYQ.png" alt="ZYQ">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">风景园林 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hello！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--张玥琪-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>梁 淑 贤</h3>建 筑 设 计 组
					  <img class="mp" src="LSX.png" alt="LSX">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 硕士研究生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">&nbsp;nice to meet you！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--梁淑贤-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>陆 亦 霖</h3>建 筑 设 计 组
					  <img class="mp" src="LYL.png" alt="LYL">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">城乡规划 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--陆亦霖-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>朴 成 哲</h3>建 筑 设 计 组
					  <img class="mp" src="PCZ.png" alt="PCZ">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 硕士研究生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！&nbsp;</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--朴成哲-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>徐 斐</h3>建 造 技 术 组 
					  <img class="mp" src="XF.png" alt="XF">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--徐斐-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>徐 凌 芷</h3>建 筑 设 计 组
					  <img class="mp" src="XLZ.png" alt="XLZ">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--徐凌芷-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>闫瑾</h3>建 筑 设 计 组
					  <img class="mp" src="YJ.png" alt="YJ">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--闫瑾-->	 
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>周 忠 瑞</h3>设 备 性 能 组
					  <img class="mp" src="ZZR.png" alt="ZZR">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">建筑技术与科学 硕士研究生
					  <div class="hidden"></div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--周忠瑞-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>朱 姝 妍</h3>建 筑 设 计 组
					  <img class="mp" src="ZSY.png" alt="ZSY">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 博士研究生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--朱姝妍-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>张 蔚 杰</h3>宣 传 运 营 组
					  <img class="mp" src="ZWJ.png" alt="ZWJ">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--张蔚杰-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>郑 凯 翔</h3>建 造 技 术 组
					  <img class="mp" src="ZKX.png" alt="ZKX">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">土木工程 硕士研究生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--郑凯翔-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>彭 程 遥</h3>建 筑 设 计 组
					  <img class="mp" src="PCY.png" alt="PCY">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--彭程遥-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>王 琼</h3>建 造 技 术 组
					  <img class="mp" src="WQ.png" alt="WQ">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 本科生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--王琼-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>王 若 瑾 希</h3>设 备 性 能 组
					  <img class="mp" src="WRJX.png" alt="WRJX">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 硕士研究生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--王若瑾希-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>何 麒 治</h3>建 造 技 术 组
					  <img class="mp" src="HLZ.png" alt="HLZ">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 硕士研究生</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--何麟治-->	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>陈 冉 鹏</h3>建 造 技 术 组
					  <img class="mp" src="CRP.png" alt="CRP">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">建筑学 </div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
			<!--陈冉鹏-->
		</div>	
	</main>
</div>	
