
<link rel="stylesheet" type="text/css" href="stylemember.css">
<script>
window.addEventListener("resize",scrollGrid);
window.addEventListener("scroll",scrollGrid);
function scrollGrid() {
	let bodyHeight = document.body.offsetHeight,
		mainHeight = document.querySelector("main").offsetHeight,
		cards = document.querySelector(".cards"),
		transY = (window.pageYOffset / (mainHeight - bodyHeight)) * -100;
	
	cards.style.setProperty("--scroll", "-" + transY + "%");
}
window.onload = scrollGrid;
</script>
<div class="members">
	<main>
		<div class="cards">
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong></h2>
					  <h3>Zhang Wenhao</h3>Group Construction Tech 
					  <img class="mp" src="ZWH.png" alt="ZWH" >
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Doctoral Student</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Welcome to our site!</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong></h2>
					  <h3>Liang Yingwei</h3>Group Equipment
					  <img class="mp" src="LYW.png" alt="lyw">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Nice to meet you!</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong></h2>
					  <h3>Wang Hao</h3>Group Architecture design
					  <img class="mp" src="WH.png" alt="wh">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Postgraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hello!</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Hu Boming</h3>Group Construction Tech
					  <img class="mp" src="HBM.png" alt="HBM" >
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！&nbsp;</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Deng Meihui</h3>Group Communication
					  <img class="mp" src="DMH.png" alt="DMH">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Landscape&nbsp; &nbsp;Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Nice to meet you!&nbsp;</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong></h2>
					  <h3>Huang Mingxuan&nbsp;</h3>Group Communication
					  <img class="mp" src="HMX.png" alt="HMX">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Landscape Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Nice to meet you!</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Zhang Yueqi</h3>Group Communication
					  <img class="mp" src="ZYQ.png" alt="ZYQ">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Landscape Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Liang Shuxian</h3>Group Architecture Design
					  <img class="mp" src="LSX.png" alt="LSX">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Postgraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Lu Yilin</h3>Group Architecture Design
					  <img class="mp" src="LYL.png" alt="LYL">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Piao Chengzhe</h3>
					  <img class="mp" src="PCZ.png" alt="PCZ">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Postgraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Xu Fei</h3>Group Construction Tech 
					  <img class="mp" src="XF.png" alt="XF">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Xu Linzhi</h3>Group Architecture Design
					  <img class="mp" src="XLZ.png" alt="XLZ">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Yan Jin</h3>Group Architecture Design
					  <img class="mp" src="YJ.png" alt="YJ">
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
			  <div class="card top">
				<div class="contents">
				  <h2>Team <strong>SCUT</strong>
				  </h2>
				  <h3>Zhou ZHONGrui</h3>Group Equipment
				  <img class="mp" src="ZZR.png" alt="ZZR">			
				</div>
			  </div>
			  <div class="card mid-top">
				<div class="contents">Major: Architecture Tech &amp; Science
				  <div class="hidden"></div>
				</div>
			  </div>
			  <div class="card mid-bottom">
				<div class="contents">
				  <div class="hidden">Grade: Postgraduate</div>
				</div>
			  </div>
			  <div class="card bottom">
				<div class="contents">
				  <div class="hidden">Hi！</div>
				</div>
			  </div>
			  <div class="card shadow"></div>
			</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Zhu Shuyan</h3>Group Architectrue Design
					  <img class="mp" src="ZSY.png" alt="ZSY">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architectrue</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Doctoral Student</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Zhang Weijie</h3>Group Communication
					  <img class="mp" src="ZWJ.png" alt="ZWJ">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architectrue</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Zheng Kaixiang</h3>Group Architecture Tech
					  <img class="mp" src="ZKX.png" alt="ZKX">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Civil Engineering</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Postgraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Peng Chengyao</h3>Group Architecture Design
					  <img class="mp" src="PCY.png" alt="PCY">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Wang Qiong</h3>Group Construction Tech
					  <img class="mp" src="WQ.png" alt="WQ">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Undergraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Wang Ruojinxi</h3>Group Equipment
					  <img class="mp" src="WRJX.png" alt="WRJX">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Postgraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>He Linzhi</h3>Group Construction Tech
					  <img class="mp" src="HLZ.png" alt="HLZ">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Postgraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>
	  
			<a class="stack" href="#">
				  <div class="card top">
					<div class="contents">
					  <h2>Team <strong>SCUT</strong>
					  </h2>
					  <h3>Chen Ranpeng</h3>Group Construction Tech
					  <img class="mp" src="CRP.png" alt="CRP">			
					</div>
				  </div>
				  <div class="card mid-top">
					<div class="contents">
					  <div class="hidden">Major: Architecture</div>
					</div>
				  </div>
				  <div class="card mid-bottom">
					<div class="contents">
					  <div class="hidden">Grade: Postgraduate</div>
					</div>
				  </div>
				  <div class="card bottom">
					<div class="contents">
					  <div class="hidden">Hi！</div>
					</div>
				  </div>
				  <div class="card shadow"></div>
				</a>

		</div>
	</main>
</div>
