<div class="container-fluid">
  <style>
    .thumbnail {
      cursor: pointer;
    }
    .thumbnail h3 {
      font-size: 1.2em; 
      margin-top: 0px;
      margin-bottom: 10px;
    }    
    .thumbnail p {
      font-size: 1em; 
      margin: 0px;
      color: gray;
    }
    .thumbnail img {
      width: 100%;
      height: 100%;
    }
    
  </style>

  <div class="tmc-home-body">
  <h1 class="animated bounceInLeft" style="margin-left: 0px !important;" data-tr-zh="特别策划">Special Planning</h1>
    <!-- 每一行都要套一个 .row 的 div，代表大屏幕下的一行 -->
    <div class="row"><!-- .第一行 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.25s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/5sC4lNWEF8xXHQEwZgW6TA">
          <img src="./assets/activities/dimdim0.jpg"  >
          <div class="caption">
              <h3 data-tr-zh="特别策划 ｜2020SDME x TeamSCUT原创表情包上线">2020SDME x TeamSCUT Original Emoji are online</h3>
              <p class="no-indent" data-tr-zh="大家好，我叫点点！">Hello, My name is Dimdim!</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.50s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/-dSEIdMN-TK4GEy-8RL2LA">
          <img src="./assets/activities/Architectural Culture Festival.jpg"  >
          <div class="caption">
              <h3 data-tr-zh="特别策划丨绿色创意文化节">Special Planning | Architectural Culture Festival</h3>
              <p class="no-indent" data-tr-zh="打造属于你自己的“绿色建筑”。">Build your own "eco-architecture."</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.75s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/CN5DNWkcIsXHY3EgjF36zw">
          <img src="./assets/activities/changqi.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划丨长岐的绿色小屋">Special Planning | A Green House in Changqi</h3>
              <p class="no-indent" data-tr-zh="太阳能绿色生活体验馆——“长崎的绿色小屋”。">Solar eco-life experience —— "a green house in Changqi."</p>
          </div>
        </div>
      </div><!-- 容器结束 -->
      
    </div> <!-- .row 结束 -->

    <div class="row"><!-- .第二行 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.00s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/b7zBJY_Er8p3FLQ_2er8GQ">
        <img src="./assets/activities/nanshayugao.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划·活动预告｜绿「筑/竹」南沙">Special Planning·Event Preview | Green 「Building/Bamboo」 in Nansha</h3>
              <p class="no-indent" data-tr-zh="下一站，12月8号，南沙。">Next station, December 8, Nansha.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.25s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/jm1RGCPWAr1_VgXIvQmisQ">
        <img src="./assets/activities/nansha.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划｜绿「筑/竹」南沙">Special Planning | Green 「Building/Bamboo」 in Nansha</h3>
              <p class="no-indent" data-tr-zh="绿「筑/竹」南沙·回顾。">Review of Green 「Building/Bamboo」 in Nansha.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.50s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/4th-DB7aJwHGUc8PdB_0Ow">
          <img src="./assets/dimdim/dimdim6.jpg"  >
          <div class="caption">
              <h3 data-tr-zh="新春策划｜点点给大家派红包啦！">Planning in Spring Festival | Dimdim is sending you red envelopes！</h3>
              <p class="no-indent" data-tr-zh="限量1000个！">Limited to 1000 red envelopes！</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

    </div><!-- .row 结束 -->

    <div class="row"><!-- .第三行 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.75s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/I5XxXopi64eX-Dp4BcI3wA">
            <img src="./assets/activities/earth.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="特别策划丨保卫地球">Special Planning | World Earth Day</h3>
                <p class="no-indent" data-tr-zh="点我开始地球保卫战！">Let's protect the Earth!</p>
            </div>
        </div>
      </div><!-- 容器结束 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.00s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/4Yia94PCzP3JvSerhKGniA">
          <img src="./assets/activities/dimdimvol03.jpg"  >
          <div class="caption">
              <h3 data-tr-zh="特别策划丨点点表情包vol.03上线！">Special Planning | The expression pack of Dimdim vol.03 is online!</h3>
              <p class="no-indent" data-tr-zh="丧完这一秒就好好生活。">Live a good life after the depressed moment.</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.25s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/Y9-Rkm0veXlB0eHj6Bgezg">
          <img src="./assets/activities/workshopopening0720.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划·活动预告 | 联队签约仪式暨联合工作坊开幕">Special Planning·Event Preview | The signing ceremony of the joint team and the opening of the joint workshop</h3>
              <p class="no-indent" data-tr-zh="2020年7月20日（周一）上午10:30-11:20">10:30-11:20 am, July 20, 2020 (Monday)</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

    </div> <!-- .row 结束 -->

    <div class="row"><!-- .第四行 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.75s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/2p6vRZIhGdEcnE7fNORyag">
        <img src="./assets/activities/workshopopened0720.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划·活动回顾｜联队签约仪式暨联合工作坊开幕式">Special Planning·Event Review | The signing ceremony of the joint team and the opening ceremony of the joint workshop</h3>
              <p class="no-indent" data-tr-zh="本次华南理工大学与中建科工集团有限公司联队签约仪式暨联合工作坊开幕式圆满结束。">The signing ceremony and opening ceremony of the joint workshop between SCUT and CSCEC were successfully concluded.</p><!---->
          </div>
        </div>
      </div>

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 3.00s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/Fa_3q6v6n9GqxAv6AfrwJg">
          <img src="./assets/activities/planecae.jpg"  >
          <div class="caption">
              <h3 data-tr-zh="特别策划丨平面搭建与探索">Special Planning | Plane construction and exploration</h3>
              <p class="no-indent" data-tr-zh="分享一支男子天团。">Share a super male group.</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 3.25s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/44_jOH8__YEb3blkOJH_vQ">
          <img src="./assets/activities/backtoschoolgift.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划丨安全返校礼包">Special Planning | Back-to-school Gift Package</h3>
              <p class="no-indent" data-tr-zh="祝大家百毒不侵。">Wish you withstand all kinds of poison.</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

    </div> <!-- .row 结束 -->

    <div class="row"><!-- .第五行 -->
            
      <div class="col-md-4 animated fadeInUp" style="animation-delay: 3.75s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/TE670NanY9fF9s_YoR_D9w">
        <img src="./assets/activities/Jiangnansurvey.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划·活动回顾｜江南百景调研记">Special Planning·Event Review | A survey of Jiangnan scenic spots</h3>
              <p class="no-indent" data-tr-zh="分享这次江南调研的收获与经验。">Share the harvest and experience of this research trip in Jiangnan.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 4.00s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/kvFIgbBBC9UkwNJ4nx33ng">
          <img src="./assets/activities/littleclass200918.jpg"  >
          <div class="caption">
              <h3 data-tr-zh="特别策划·活动回顾 | 广图义教 X 绿色建筑小课堂">Special Planning·Event Review | Volunteer Teaching Activity X Green Building Classroom</h3>
              <p class="no-indent" data-tr-zh="本月华南×科工太阳能十项全能竞赛团队代表作为本期的特别团队前往广州市图书馆参与儿童科普教育活动。">This month, the members of Team SCUTxCSCEC went to the Guangzhou Library to participate in children's science education activities as a special team for this period.</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 4.25s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/LpoVxnsLNJ9eUXrm-4L1NA">
          <img src="./assets/activities/AHAPtraining.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划丨主动式建筑专业咨询师培训">Special Planning | The Active House Accredited Professional training program</h3>
              <p class="no-indent" data-tr-zh="华南理工大学首批AHAP新鲜出炉">The first batch of AHAP in SCUT</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

    </div> <!-- .row 结束 -->

    <div class="row"><!-- .第六行 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 4.50s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/ksuheu1LZsbPhHIr5Yq33g">
          <img src="./assets/activities/Dimdimpackage.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划·活动回顾｜叮！你有一份未定义点点礼包待查收">Special Planning·Event Review | Ding! You have an undefined gift package to check</h3>
              <p class="no-indent" data-tr-zh="点点的新口头禅和它的神秘朋友们">Dimdim's new mantra and its mysterious friends</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 4.75s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/HlHE4sXcpMVDUPUViKeOBw">
          <img src="./assets/activities/2020summary.jpg"  >
          <div class="caption">
              <h3 data-tr-zh="特别策划｜太阳能团队年终总结大会">Special Planning | Annual general meeting of Team SCUTxCSCEC </h3>
              <p class="no-indent" data-tr-zh="新的一年也要继续加油鸭！">Keep going in the new year!</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 5.0s; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/owKW9EVHUwAm69TstZT3qQ">
          <img src="./assets/activities/plasticbottleproject.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划｜塑料瓶升级改造计划——世界地球日＃第一弹＃">Special Planning | The Plastic Bottle Upgrade Project - Vol1</h3>
              <p class="no-indent" data-tr-zh="17-19日，就在你宿舍楼下等你！">17-19th, waiting for you under your dormitory!</p>
          </div>
        </div>
      </div><!-- 容器结束 -->

    </div> <!-- .row 结束 -->
    
    <div class="row"><!-- .第七行 -->

      <div class="col-md-4 animated fadeInUp" style="animation-delay: 5.25; animation-duration: 1.25s;">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/Ecq_Ej5ndzBCocxtwy9oVA">
          <img src="./assets/activities/plasticbottleproject2.jpg">
          <div class="caption">
              <h3 data-tr-zh="特别策划｜易拉罐升级改造计划——世界地球日＃第二弹＃">The Plastic Bottle Upgrade Project - Vol2</h3>
              <p class="no-indent" data-tr-zh=""></p>
          </div>
        </div>
    </div>

    </div> <!-- .row 结束 --> 

</div>
<script>
  $(".thumbnail").click(function (e) {
    var url = $(e.currentTarget).attr("data-url");
    if (!url) return;
    window.location = url;
  });
</script>
