<div class="container-fluid">
  <style>
    .thumbnail {
      cursor: pointer;
    }
    .thumbnail p {
      font-size: 1em;
    }
  </style>
  <div class="tmc-home-body">
    <!-- 每一行都要套一个 .row 的 div，代表大屏幕下的一行 -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/a7X7vDZTMge9qVZ2x4kmAg">
          <img src="./assets/exhibition.webp">
          <div class="caption">
              <h3>特别策划丨长岐的绿色小屋</h3>
              <p>本次展览是2020SDMExTeamSCUT向公众倡导绿色可持续生活方式的重要一环。"绿水青山就是金山银山"，我们一直在路上。</p>
          </div>
        </div>
      </div>
      <!-- 每一个容器的结构为：.col-md-4 > thumbnail，在其之下放 img 和 div.caption 即可 -->
      <div class="col-md-4">
        <!-- 在 .thumbnail 的 data-url 属性设置当前容器点击后跳转的链接 -->
        <div class="thumbnail" data-url="">
          <img src="./assets/sd_us.jpg">
          <div class="caption">
              <h3>这是标题</h3>
              <p>这里是描述文字啦啦啦</p>
          </div>
        </div>
      </div>
      <!-- 以上就是一个容器的示例 -->
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="./assets/sd_us.jpg">
          <div class="caption">
              <h3>这是标题</h3>
              <p>这里是描述文字啦啦啦</p>
          </div>
        </div>
      </div>
    </div> <!-- .row 结束 -->
  </div>
</div>
<script>
  $(".thumbnail").click(function (e) {
    var url = $(e.currentTarget).attr("data-url");
    if (!url) return;
    window.location = url;
  });
</script>
