<div class="container-fluid">
    <div class="tmc-home-body">
      <h1 class="animated bounceInLeft" data-tr-zh="迪拜气候条件">Climate Conditions in Dubai</h1>
      <p data-tr-key="tr-climate-1">In Dubai, the summers are long, sweltering, oppressive, arid, and partly cloudy and the winters are comfortable, dry, and mostly clear. Over the course of the year, the temperature typically varies from 57°F to 106°F and is rarely below 52°F or above 112°F.</p>
      <p data-tr-key="tr-climate-2">Based on the beach/pool score, the best times of year to visit Dubai for hot-weather activities are for the entire month of April and from mid October to late November.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/climate_summary.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="气候概要">Climate Summary &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;" data-tr-zh="图表来源：Weather Spark">(Table Source: Weather Spark)</a>
        </div>
      </div>

      <h2 data-tr-zh="温度" >Temperature</h2>
      <p data-tr-key="tr-temperature-1">The hot season lasts for 4.3 months, from May 13 to September 23, with an average daily high temperature above 100°F. The hottest day of the year is August 1, with an average high of 106°F and low of 86°F.</p>
      <p data-tr-key="tr-temperature-2">The cool season lasts for 3.1 months, from December 2 to March 4, with an average daily high temperature below 81°F. The coldest day of the year is January 15, with an average low of 57°F and high of 75°F.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/average_temperature.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="平均高温和低温">Average High and Low Temperature &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;" data-tr-zh="图表来源：Weather Spark">(Table Source: Weather Spark)</a>
        </div>
        <p data-tr-key="tr-temperature-3" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The daily average high (red line) and low (blue line) temperature, with 25th to 75th and 10th to 90th percentile bands. The thin dotted lines are the corresponding average perceived temperatures.</p>
      </div>
      <p data-tr-key="tr-temperature-4">The figure below shows you a compact characterization of the entire year of hourly average temperatures. The horizontal axis is the day of the year, the vertical axis is the hour of the day, and the color is the average temperature for that hour and day.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/hourly_temperature.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="平均小时气温">Average Hourly Temperature &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-temperature-5" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The average hourly temperature, color coded into bands. The shaded overlays indicate night and civil twilight.</p>
        </div>
      </div>

      <h2 data-tr-zh="云彩" >Clouds</h2>
      <p data-tr-key="tr-cloud-1">In Dubai, the average percentage of the sky covered by clouds experiences significant seasonal variation over the course of the year.</p>
      <p data-tr-key="tr-cloud-2">The clearer part of the year in Dubai begins around September 1 and lasts for 6.9 months, ending around March 31. On October 4, the clearest day of the year, the sky is clear, mostly clear, or partly cloudy 93% of the time, and overcast or mostly cloudy 7% of the time.</p>
      <p data-tr-key="tr-cloud-3">The cloudier part of the year begins around March 31 and lasts for 5.1 months, ending around September 1. On July 21, the cloudiest day of the year, the sky is overcast or mostly cloudy 50% of the time, and clear, mostly clear, or partly cloudy 50% of the time.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/cloud.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="云量类别">Cloud Cover Categories &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-cloud-4" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The percentage of time spent in each cloud cover band, categorized by the percentage of the sky covered by clouds.</p>
        </div>
      </div>

      <h2 data-tr-zh="降水" >Precipitation</h2>
      <p data-tr-key="tr-preci-1">Dubai does not experience significant seasonal variation in the frequency of wet days (i.e., those with greater than 0.04 inches of liquid or liquid-equivalent precipitation). The frequency ranges from 0% to 8%, with an average value of 3%.</p>
      <p data-tr-key="tr-preci-2">Among wet days, we distinguish between those that experience rain alone, snow alone, or a mixture of the two. Based on this categorization, the most common form of precipitation throughout the year is rain alone, with a peak probability of 8% on March 14.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/precipitation.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="每日降水机率">Daily Chance of Precipitation &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-preci-3" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The percentage of days in which various types of precipitation are observed, excluding trace quantities: rain alone, snow alone, and mixed (both rain and snow fell in the same day).</p>
        </div>
      </div>


      <h2 data-tr-zh="降雨量" >Rainfall</h2>
      <p data-tr-key="tr-rain-1">To show variation within the months and not just the monthly totals, we show the rainfall accumulated over a sliding 31-day period centered around each day of the year. Dubai experiences some seasonal variation in monthly rainfall.</p>
      <p data-tr-key="tr-rain-2">The rainy period of the year lasts for 2.4 months, from January 6 to March 17, with a sliding 31-day rainfall of at least 0.5 inches. The most rain falls during the 31 days centered around February 5, with an average total accumulation of 0.7 inches.</p>
      <p data-tr-key="tr-rain-3">The rainless period of the year lasts for 9.6 months, from March 17 to January 6. The least rain falls around August 21, with an average total accumulation of 0.0 inches.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/rainfall.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="平均月降雨量">Average Monthly Rainfall &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-rain-4" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The average rainfall (solid line) accumulated over the course of a sliding 31-day period centered on the day in question, with 25th to 75th and 10th to 90th percentile bands. The thin dotted line is the corresponding average liquid-equivalent snowfall.</p>
        </div>
      </div>

      <h2 data-tr-zh="日照" >Sun</h2>
      <p data-tr-key="tr-sun-1">The length of the day in Dubai varies over the course of the year. In 2020, the shortest day is December 21, with 10 hours, 35 minutes of daylight; the longest day is June 21, with 13 hours, 42 minutes of daylight.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/sun.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="日光和曙光/暮光时数">Hours of Daylight and Twilight &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-sun-2" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The number of hours during which the Sun is visible (black line). From bottom (most yellow) to top (most gray), the color bands indicate: full daylight, twilight (civil, nautical, and astronomical), and full night.</p>
        </div>
      </div>
      <p data-tr-key="tr-sun-3">The earliest sunrise is at 5:28 AM on June 9, and the latest sunrise is 1 hour, 38 minutes later at 7:06 AM on January 14. The earliest sunset is at 5:29 PM on November 29, and the latest sunset is 1 hour, 44 minutes later at 7:13 PM on July 1.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/sunrise_set.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="伴有曙光/暮光的日出和日落">Sunrise & Sunset with Twilight &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-sun-4" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The solar day over the course of the year 2020. From bottom to top, the black lines are the previous solar midnight, sunrise, solar noon, sunset, and the next solar midnight. The day, twilights (civil, nautical, and astronomical), and night are indicated by the color bands from yellow to gray.</p>
        </div>
      </div>

      <h2 data-tr-zh="太阳能" >Solar Energy</h2>
      <p data-tr-key="tr-solar-1">This section discusses the total daily incident shortwave solar energy reaching the surface of the ground over a wide area, taking full account of seasonal variations in the length of the day, the elevation of the Sun above the horizon, and absorption by clouds and other atmospheric constituents. Shortwave radiation includes visible light and ultraviolet radiation.</p>
      <p data-tr-key="tr-solar-2">The average daily incident shortwave solar energy experiences significant seasonal variation over the course of the year.</p>
      <p data-tr-key="tr-solar-3">The brighter period of the year lasts for 2.6 months, from April 25 to July 12, with an average daily incident shortwave energy per square meter above 7.2 kWh. The brightest day of the year is June 3, with an average of 8.0 kWh.</p>
      <p data-tr-key="tr-solar-4">The darker period of the year lasts for 2.9 months, from November 10 to February 5, with an average daily incident shortwave energy per square meter below 4.9 kWh. The darkest day of the year is December 19, with an average of 4.1 kWh.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/solar.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="平均每日入射短波太阳能">Average Daily Incident Shortwave Solar Energy &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-solar-5" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The average daily shortwave solar energy reaching the ground per square meter (orange line), with 25th to 75th and 10th to 90th percentile bands.</p>
        </div>
      </div>

      <h2 data-tr-zh="湿度" >Humidity</h2>
      <p data-tr-key="tr-humid-1">We base the humidity comfort level on the dew point, as it determines whether perspiration will evaporate from the skin, thereby cooling the body. Lower dew points feel drier and higher dew points feel more humid. Unlike temperature, which typically varies significantly between night and day, dew point tends to change more slowly, so while the temperature may drop at night, a muggy day is typically followed by a muggy night.</p>
      <p data-tr-key="tr-humid-2">Dubai experiences extreme seasonal variation in the perceived humidity.</p>
      <p data-tr-key="tr-humid-3">The muggier period of the year lasts for 7.3 months, from April 12 to November 21, during which time the comfort level is muggy, oppressive, or miserable at least 23% of the time. The muggiest day of the year is July 28, with muggy conditions 89% of the time.</p>
      <p data-tr-key="tr-humid-4">The least muggy day of the year is January 16, with muggy conditions 1% of the time.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/humidity.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="湿度舒适水平">Humidity Comfort Levels &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-humid-5" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The percentage of time spent at various humidity comfort levels, categorized by dew point.</p>
        </div>
      </div>

      <h2 data-tr-zh="刮风" >Wind</h2>
      <p data-tr-key="tr-wind-1">This section discusses the wide-area hourly average wind vector (speed and direction) at 10 meters above the ground. The wind experienced at any given location is highly dependent on local topography and other factors, and instantaneous wind speed and direction vary more widely than hourly averages.</p>
      <p data-tr-key="tr-wind-2">The average hourly wind speed in Dubai experiences mild seasonal variation over the course of the year.</p>
      <p data-tr-key="tr-wind-3">The windier part of the year lasts for 5.2 months, from December 30 to June 6, with average wind speeds of more than 8.1 miles per hour. The windiest day of the year is March 14, with an average hourly wind speed of 9.3 miles per hour.</p>
      <p data-tr-key="tr-wind-4">The calmer time of year lasts for 6.7 months, from June 6 to December 30. The calmest day of the year is October 11, with an average hourly wind speed of 6.9 miles per hour.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/wind_speed.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="平均风速">Average Wind Speed &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-wind-5" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The average of mean hourly wind speeds (dark gray line), with 25th to 75th and 10th to 90th percentile bands.</p>
        </div>
      </div>
      <p data-tr-key="tr-wind-6">The predominant average hourly wind direction in Dubai varies throughout the year.</p>
      <p data-tr-key="tr-wind-7">The wind is most often from the east for 4.3 weeks, from August 2 to September 1, with a peak percentage of 32% on August 18. The wind is most often from the west for 11 months, from September 1 to August 2, with a peak percentage of 51% on January 1.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/wind_direction.jpg" style="width: 80%;">
        <div>
          <span>Direction &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span></span>
        <p data-tr-key="tr-wind-8" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The percentage of hours in which the mean wind direction is from each of the four cardinal wind directions, excluding hours in which the mean wind speed is less than 1.0 mph. The lightly tinted areas at the boundaries are the percentage of hours spent in the implied intermediate directions (northeast, southeast, southwest, and northwest).</p>
        </div>
      </div>

      <h2 data-tr-zh="水温" >Water Temperature</h2>
      <p data-tr-key="tr-water-1">Dubai is located near a large body of water (e.g., ocean, sea, or large lake). This section reports on the wide-area average surface temperature of that water.</p>
      <p data-tr-key="tr-water-2">The average water temperature experiences significant seasonal variation over the course of the year.</p>
      <p data-tr-key="tr-water-3">The time of year with warmer water lasts for 4.1 months, from June 12 to October 15, with an average temperature above 88°F. The day of the year with the warmest water is August 6, with an average temperature of 92°F.</p>
      <p data-tr-key="tr-water-4">The time of year with cooler water lasts for 3.3 months, from December 25 to April 4, with an average temperature below 75°F. The day of the year with the coolest water is February 9, with an average temperature of 71°F.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/water_temperature.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="平均水温">Average Water Temperature &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-water-5" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The daily average water temperature (purple line), with 25th to 75th and 10th to 90th percentile bands.</p>
        </div>
      </div>

      <h2 data-tr-zh="最佳拜访时间" >Best Time of Year to Visit</h2>
      <p data-tr-key="tr-visit-1">To characterize how pleasant the weather is in Dubai throughout the year, we compute two travel scores.</p>
      <p data-tr-key="tr-visit-2">The tourism score favors clear, rainless days with perceived temperatures between 65°F and 80°F. Based on this score, the best time of year to visit Dubai for general outdoor tourist activities is from mid November to late March, with a peak score in the third week of December.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/besttime.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="旅游得分">Score &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span></span>
        <p data-tr-key="tr-visit-3" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The tourism score (filled area), and its constituents: the temperature score (red line), the cloud cover score (blue line), and the precipitation score (green line).</p>
        </div>
      </div>
      <p data-tr-key="tr-visit-4">The beach/pool score favors clear, rainless days with perceived temperatures between 75°F and 90°F. Based on this score, the best times of year to visit Dubai for hot-weather activities are for the entire month of April and from mid October to late November, with a peak score in the first week of November.</p>
      <div style="text-align: center;">
        <img src="./assets/climate/beachpool_score.jpg" style="width: 80%;">
        <div>
          <span data-tr-zh="沙滩/泳池得分">Beach/Pool Score &nbsp &nbsp</span>
          <a href="https://weatherspark.com/y/105470/Average-Weather-in-Dubai-United-Arab-Emirates-Year-Round" style="text-decoration: none; color: grey;">(Table Source: Weather Spark)</a></span>
        <p data-tr-key="tr-visit-5" style="text-align: center; margin-top: 0.5em; margin-left: 20%; margin-right: 20%; color:grey; font-size: 0.7em;">The beach/pool score (filled area), and its constituents: the temperature score (red line), the cloud cover score (blue line), and the precipitation score (green line).</p>
        </div>
      </div>









    </div>
  </div>
  