<div class="container-fluid">
    <style>
      .thumbnail {
        cursor: pointer;
      }
      .thumbnail h3 {
        font-size: 1.2em; 
        margin-top: 0px;
        margin-bottom: 10px;
      }    
      .thumbnail p {
        font-size: 1em; 
        margin: 0px;
        color: gray;
      }
      .thumbnail img {
        width: 100%;
        height: 100%;
      }
      
    </style>

    <div class="tmc-home-body">
    <h1 class="animated bounceInLeft" style="margin-left: 0px !important;" data-tr-zh="点点周记">Dimdim's Weekly</h1>
      <!-- 每一行都要套一个 .row 的 div，代表大屏幕下的一行 -->
      <div class="row"> <!-- 第一行 -->
  
      <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.25s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/VqVikftwl16XLxO7UPwktA">
            <img src="./assets/dimdim/dimdim1.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="点点观察周记丨vol.01"> Dimdim's Weekly | vol.01</h3>
                <p class="no-indent" data-tr-zh="新栏目[点点观察周记]上线啦~">New column [Dimdim's weekly] is online~</p>
            </div>
          </div>
        </div><!-- 容器结束 -->
  
        <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.5s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/p_gM5QXVcf3OAu61FDb_hw">
            <img src="./assets/dimdim/dimdim2.jpg">
            <div class="caption">
                <h3 data-tr-zh="点点观察周记丨vol.02"> Dimdim's Weekly | vol.2</h3>
                <p class="no-indent" data-tr-zh="2019年11月23日，我们参与了“大咖有约”的录制。">On November 23, 2019, we participated in the recording of 'Dating with big names'.</p>
            </div>
          </div>
        </div><!-- 容器结束 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.75s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/emmJ0-XF-wQyRQXvBZ6BZA">
            <img src="./assets/dimdim/dimdim3.jpg">
            <div class="caption">
                <h3 data-tr-zh="点点观察周记丨vol.03"> Dimdim's Weekly | vol.03</h3>
                <p class="no-indent" data-tr-zh="2020SDME x TeamSCUT微信公众号现在开通留言功能啦~">Our Wechat official account [2020SDME x TeamSCUT] has opened public address~</p>
            </div>
          </div>
        </div><!-- 容器结束 -->

  
      </div> <!-- .row 结束 -->

      <div class="row"> <!-- 第二行 -->
  
        <div class="col-md-4 animated fadeInUp" style="animation-delay: 1s; animation-duration: 1.25s;">
            <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/bq3bNVQLFlruJ_13Ru0ZdA">
              <img src="./assets/dimdim/dimdim4.jpg"  >
              <div class="caption">
                  <h3 data-tr-zh="点点观察周记丨vol.04"> Dimdim's Weekly | vol.04</h3>
                  <p class="no-indent" data-tr-zh="2019年12月2日，我们被授予了“华工榜样”荣誉称号。">On December 2, 2019, we were awarded the honorary title of "The Best Example of SCUT".</p>
              </div>
            </div>
          </div><!-- 容器结束 -->

          <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.25s; animation-duration: 1.25s;">
            <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/T-0Z6xvWYkPfrT5WpBWV9w">
              <img src="./assets/dimdim/dimdim5.jpg"  >
              <div class="caption">
                  <h3 data-tr-zh="2020新年快乐！">2020 HAPPY NEW YEAR！</h3>
                  <p class="no-indent" data-tr-zh="TeamSCUT祝大家2020年新年快乐！">HAPPY NEW YEAR 2020！</p>
              </div>
            </div>
          </div><!-- 容器结束 -->
  
          <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.5s; animation-duration: 1.25s;">
            <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/uKsLBy2cLfYZi1vRkSLY8A">
              <img src="./assets/dimdim/dimdim7.jpg"  >
              <div class="caption">
                  <h3 data-tr-zh="新春策划 ｜点点新春特辑表情包上线">Planning in Spring Festival | Spring Festival's special expression pack of Dimdim is Online</h3>
                  <p class="no-indent" data-tr-zh="听说红色的春节和绿色的点点更配哦！">It's said that the Red Spring Festival matches the green Dimdim better!</p>
              </div>
            </div>
          </div><!-- 容器结束 -->

        </div> <!-- .row 结束 -->

        <div class="row"> <!-- 第三行 -->

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.75s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/k1sMQie8O6lqhb7qptoN-A">
                <img src="./assets/dimdim/dimdim6.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="新春策划｜点点给大家派红包啦！">Planning in Spring Festival | Dimdim is sending you red envelopes！</h3>
                    <p class="no-indent" data-tr-zh="限量1000个！">Limited to 1000 red envelopes！</p>
                </div>
              </div>
            </div><!-- 容器结束 -->

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 2s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/Lb8i9IgB_SCvaEdN6gA8tg">
                <img src="./assets/dimdim/dimdim8.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="点点观察周记｜vol.07">Dimdim's Weekly | vol.07</h3>
                    <p class="no-indent" data-tr-zh="团队成员开启远程工作模式！">Team members working remotely!</p>
                </div>
              </div>
            </div><!-- 容器结束 -->
  
          </div> <!-- .row 结束 -->
    </div>
  </div>
  <script>
    $(".thumbnail").click(function (e) {
      var url = $(e.currentTarget).attr("data-url");
      if (!url) return;
      window.location = url;
    });
  </script>
  