<div class="container-fluid">
    <div class="tmc-home-body">
        <h1 class="animated bounceInLeft" data-tr-zh="往届成果">Former Works</h1>
        <div class="row" style="text-align: center; margin-left: 7%; margin-right: 7%;">
            <div class="col-md-6">
                <a href="#sdc2013"><img src="./assets/sdc2013.png" style="max-width: 100%;"></a>
            <span class="tmc-img-text" data-tr>2013 SDC E-CONCAVE</span>
            </div>
            <div class="col-md-6">
                <a href="#sdc2018"><img src="./assets/sdc2018.png" style="max-width: 100%;"></a>
            <span class="tmc-img-text" data-tr>2018 SDC Long Plan</span>
            </div>
        </div>
    

    </div>
    
</div>

