<div style="width: 100%; background-color: #43be95; position: relative;">
  <div class="tmc-left" onclick="rollImgInt(-1)"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  <div id="tmc-roller" class="tmc-img-roller" data-handler="rollerHandle">
    <div style="background-image: url(./assets/roller/1.jpg);"></div>
    <div style="background-image: url(./assets/roller/2.png);"></div>
    <div style="background-image: url(./assets/roller/3.png);"></div>
  </div>
  <div class="tmc-right" onclick="rollImgInt(1)"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
</div>

<div class="tmc-home-body">
  <div class="container-fluid">
    <div class="row tmc-section">
      <div class="col-md-8 tmc-re">
        <div class="tmc-fade tmc-big" style="left:-.2em;top:-.7em;">What is going on?</div>
        <img class="tmc-fade" data-delay="400" src="./assets/sdmec1.jpg" alt="">
      </div>
      <div class="col-md-4">
        <img class="tmc-fade tmc-subtitle" style="left: -30%;" src="./assets/title-sdme2020.svg">
        <div class="tmc-sub"></div>
        <div class="tmc-fade" data-delay="200">
            <p data-tr-key="tr-home-1">Team SCUT is going to participate in 2020 Solar Decathlon Middle East which is an award-winning program that challenges collegiate teams to design, build and operate solar-powered houses that are cost-effective, energy-efficient and attractive. Known as the Decathlon competition, it evaluates each home based on the performance in 10 contests. SDME aims to promote industry-university-research cooperation in the industry and to facilitate innovation and intensive adoption of solar energy technologies.</p>
          <a style="display: block; text-align: right;" href="#" data-tr>- more information -</a>
        </div>
      </div>
    </div>
    <div class="row tmc-section">
      <div class="col-md-8 col-md-push-4 tmc-re">
        <div class="tmc-fade tmc-big" style="right:-.2em;top:-.7em;">Who are we?</div>
        <img src="./assets/bubble1.svg" class="tmc-fade" data-delay="1200" style="position: absolute;z-index: 11;width: 39%;top: 10%;right: 36%;">
        <img src="./assets/whoweare.jpg" class="tmc-fade" data-delay="200">
      </div>
      <div class="col-md-4 col-md-pull-8">
        <img src="./assets/title-team.svg" style="right: -30%;" class="tmc-fade tmc-subtitle">
        <div class="tmc-sub"></div>
        <div class="tmc-fade" data-delay="200">
          <p data-tr-key="tr-home-2">Team SCUT is a team consist of multiple force including students from College of Architecture and Urban Engineering, College of Material Science and Engineering and College of Communication and Journalism. The team is guided by professional tutors team and supported by varies facilities such as: National Key Laboratory of Subtropical Architectural Science, Digital Laboratory construction, South China University of Technology Institute of Architectural Design and Luminous State Key Laboratory of Materials and Devices.</p>
          <a style="display: block; text-align: right;" href="#" data-tr>- more information -</a>
        </div>
      </div>
    </div>
    <div class="tmc-section">
      <div class="row">
        <div class="col-md-7">
          <img src="./assets/title-whatwedo.svg" class="tmc-fade" data-delay="1800" class="tmc-fade">
        </div>
        <div class="visible-sm visible-xs tmc-re">
          <img src="./assets/circle.svg" class="tmc-fade" data-delay="1400" style="position: absolute;width: 7%;left: 25%;top: -8%;">
          <img src="./assets/circle.svg" class="tmc-fade" data-delay="1200" style="position: absolute;width: 3%;left: 31%;top: 19%;">
          <img src="./assets/bubble2.svg" class="tmc-fade" data-delay="400" style="width:23%;position:absolute;right:13%;top:-20%;">
          <img src="./assets/whatwedo.svg" class="tmc-fade">
        </div>
        <div class="col-md-5 tmc-fade" data-delay="200">
          <div class="tmc-fade tmc-big" style="position: relative; text-align: right;">What we do.</div>
          <p>Team SCUT is a team consist of multiple force including students from College of Architecture and Urban Engineering, College of Material Science and Engineering and College of Communication and Journalism. The team is guided by professional tutors team and supported by varies facilities such as: National Key Laboratory of Subtropical Architectural Science, Digital Laboratory construction, South China University of Technology Institute of Architectural Design and Luminous State Key Laboratory of Materials and Devices.</p>
          <a style="display: block; text-align: right;" href="#" data-tr>- more information -</a>
        </div>
      </div>
      <div class="row hidden-sm hidden-xs tmc-re" style="margin-top: 48px;">
        <img src="./assets/circle.svg" class="tmc-fade" data-delay="1400" style="position: absolute;width: 7%;left: 25%;top: -8%;">
        <img src="./assets/circle.svg" class="tmc-fade" data-delay="1200" style="position: absolute;width: 3%;left: 31%;top: 19%;">
        <img src="./assets/bubble2.svg" class="tmc-fade" data-delay="400" style="width:23%;position:absolute;right:13%;top:-20%;">
        <img src="./assets/whatwedo.svg" class="tmc-fade" data-delay="200">
      </div>
    </div>
    <div class="tmc-section">
      <div class="tmc-re" style="height: 6em;">
        <div class="tmc-big" style="right: 2em;">Works we did.</div>
        <img src="./assets/timeline.svg" style="width: 100vw; position: absolute; left: calc(-50vw + 50%); top: 4em;">
      </div>
      <div class="row tmc-re">
        <div class="col-md-6">
          <h3>SDC 2013</h3>
          <img src="./assets/sdc2013.png">
        </div>
        <div class="col-md-6">
          <h3>SDC 2018</h3>
          <img src="./assets/sdc2018.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sponsorship" class="container-fluid tmc-re" style="background-color: #fff; margin-top: 58px; text-align: center;">
  <div style="text-align: center; width: 100vw; position: absolute; top: -1.5em; left: 0;"><span style="color: #feb12e; background-color: #2a8476; display: inline-block; font-size: 2em; padding: 5px 2em;">Sponsorship</span></div>
  <img style="margin-top: 3em; width: 100%;" src="./assets/sponsors.png">
</div>
<style>
  @media screen and (min-width: 1300px) {
    #sponsorship img {
      max-width: 70%;
    }
  }

  .tmc-subtitle {
    position: absolute;
    top: 12px;
    max-height: 65px;
    z-index: 11;
  }
  .tmc-sub {
    margin-top: 95px;
    width: 100%;
  }
  .tmc-big {
    position:absolute;
    font-size:3em;
    font-weight:600;
    z-index:11;
  }

  .tmc-section {
    margin: 4em auto;
  }
  @media screen and (max-width: 991px) {
    .tmc-subtitle {
      left: 0 !important;
      right: 0 !important;
      position: relative;
      margin-top: 1.2em;
    }
    .tmc-sub {
      margin-top: 2.4em;
    }
    .tmc-big {
      font-size: 22px;
    }
  }
  #tmc-roller div {
    transition: transform 5s linear;
  }
</style>
<script>
  /* 对目标元素 roller 执行切换图片操作，且淡出后执行 outfn，淡入后执行 infn */
  function rollImg(el, offset, outfn, infn) {
    var rid = $(el).attr("id");
    imgCur[rid] = (imgCur[rid] + offset) % imgTot[rid];
    $(el).children(":visible").fadeOut(200, function () {
      var cur = $(el).children(":nth("+imgCur[rid]+")");
      if (typeof outfn == "function")
        outfn(cur);
      cur.fadeIn(200, function () {
        if (typeof infn == "function")
          infn(cur);
      });
    });
  }

  // 自动滚动且放大的 roller 设置
  var rollDone = true;
  function rollImgInt(offset) {
    if (!rollDone) return;
    if (!window.rollerHandle) return;
    if (offset == undefined)
      offset = 1;
    // 重置定时器
    clearInterval(window.rollerHandle);
    window.rollerHandle = setInterval(rollImgInt, 3000);
    rollDone = false;

    rollImg("#tmc-roller", offset, function(cur) {
      cur.css("transform", "none");
    },function (cur) {
      rollDone = true;
      cur.css("transform", "scale(1.5)");
    });
  };
  $(function () {
    setTimeout(function () {
      $("#tmc-roller").children(":nth(0)").css("transform", "scale(1.5)");
    }, 100);
    window.rollerHandle = setInterval(rollImgInt, 3000);
    window.beforeLoad = function () {
      clearInterval(rollerHandle);
    };
  });

  $(".tmc-fade").each(function (i, e) {
    var d = $(e).attr("data-delay");
    if (!d) d = 0;
    if (d == "slow") d = 500;
    ScrollReveal().reveal(e, {
      distance: '24px',
      duration: 1500,
      delay: d
    });
  });
</script>
