<style> 
/*button style*/
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 0.5em;
  width: 100%;
}
button.home {
  font-weight: 600;
  color: white; /*字体颜色*/
  padding: 0.5em 1em; 
  background: #b8c8ac; /*未hover时按钮背景色*/
  border: 2px solid #7ea699; /*按钮上表面边框色*/
  border-radius: 5px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.home::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7ea699; /*按钮侧面背景色*/
  border-radius: inherit;
  box-shadow: 0 0 0 2px #7ea699, 0.5em 0.5em 0.8em 0 #7ea699;  /*按钮侧面边框色， 按钮投影色*/
  -webkit-transform: translate3d(0, 0em, -1em); /* 中间值为按钮侧面高度*/
          transform: translate3d(0, 0em, -1em); /*中间值按钮侧面高度*/
  transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.home:hover {
  background: #7ea699; /*按钮hover时背景色*/
  transform: translate(0, 0.2em);
  transform: translate(0, 0.2em);
}
button.home:hover::before {
  box-shadow: 0 0 0 2px #7ea699, 0.2em 0.2em 0.2em 0 #7ea699; /*按钮hover时侧面边框色，投影色*/
  transform: translate3d(0, 0em, -1em);
  transform: translate3d(0, 0em, -1em);
}
button.home:active {
  background: #7ea699; /*按钮按下时背景色*/
  transform: translate(0em, 0.2em);
  transform: translate(0em, 0.2em);
}
button.home:active::before {
  box-shadow: 0 0 0 2px #2f4840, 0 0 #718e6d;  /*按钮按下时侧面边框色，投影色*/
  transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

/* 滚动图片容器相关 */
.tmc-img-roller {
    height: calc(100vh - 140px);
    overflow: hidden;
}
.tmc-img-roller div {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
.tmc-img-roller div:nth-child(1) {
    display: block;
    transform: scale(1.0);
}
.tmc-left, .tmc-right {
    position: absolute;
    top: 0;
    width: 100px;
    height: calc(100vh - 140px);
    line-height: calc(100vh - 140px);
    font-size: 40px;
    color: rgba(255,255,255,0.4);
    transition: color .2s;
    cursor: pointer;
    text-align: center;
    z-index: 11;
}
.tmc-left:hover, .tmc-right:hover {
    color: rgba(255, 255, 255, 1);
}
.tmc-left {
    left: 5%;
    text-align: left;
}
.tmc-right {
    right: 5%;
    text-align: right;
}
@media screen and (max-width: 1500px) {
    .tmc-left {
    left: 5vw;
    }
    .tmc-right {
    right: 5vw;
    }
}
@media screen and (max-width: 600px) {
    .tmc-img-roller {
    height: 200px;
    }
    .tmc-left {
    line-height: 200px;
    left: 3vw;
    }
    .tmc-right {
    line-height: 200px;
    right: 3vw;
    }
}
/* 滚动图片容器相关结束 */

</style>



<div style="width: 100%; background-color: #79a699; position: relative;">
  <div class="tmc-left" onclick="rollImgInt(-1)">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <div id="tmc-roller" class="tmc-img-roller" data-handler="rollerHandle">
    <a href="https://mp.weixin.qq.com/s/a7X7vDZTMge9qVZ2x4kmAg"><div style="background-image: url(./assets/roller/1.png);"></div></a>
    <a href="#sdc2013"><div style="background-image: url(./assets/roller/2.png);"></div></a>
    <a href="#sdc2018"><div style="background-image: url(./assets/roller/3.png);"></div></a>
  </div>
  <div class="tmc-right" onclick="rollImgInt(1)">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
</div>

<div class="tmc-home-body">
  <div class="container-fluid">
    <div class="row tmc-section">
      <div class="col-md-8 tmc-re" style="margin-top: 1em;">
        <img class="tmc-fade" data-delay="400" src="./assets/sdmec1.jpg" alt="" />
      </div>
      <div class="col-md-4" style="margin-top: 1em;">
        <!--<img class="tmc-fade tmc-subtitle" style="left: -30%;" src="./assets/title-sdme2020.svg" />-->
        <a href="#solar_decathlon_me" ><button class="home tmc-big" style="text-align: center; width: 86%; margin-left: 7%;">
          2020 Solar Decathlon Middle East
        </button></a>
        <div class="tmc-fade" data-delay="200">
          <p class="no-indent" data-tr-key="tr-home-1" style="text-align: justify;">
            Team SCUT is going to participate in 2020 Solar Decathlon Middle
            East which is an award-winning program that challenges collegiate
            teams to design, build and operate solar-powered houses that are
            cost-effective, energy-efficient and attractive. SDME aims to promote
            industry-university-research cooperation in the industry and to
            facilitate innovation and intensive adoption of solar energy
            technologies.
          </p>
        </div>
      </div>
    </div>
    <div class="row tmc-section">
      <div class="col-md-8 col-md-push-4 tmc-re" style="margin-top: 1em;">
        <img src="./assets/whoweare.jpg" class="tmc-fade" data-delay="200" />
      </div>
      <div class="col-md-4 col-md-pull-8" style="margin-top: 1em;">
        <a href="#members"><button class="home tmc-big" style="text-align: center; width: 86%; margin-left: 7%;">Team SCUT</button></a>
        <div class="tmc-fade" data-delay="200">
          <p class="no-indent" data-tr-key="tr-home-2">
            Team SCUT is a team consist of multiple force including students
            from College of Architecture and Urban Engineering, College of
            Material Science and Engineering and College of Communication and
            Journalism. The team is guided by professional tutors team and
            supported by varies facilities such as: National Key Laboratory of
            Subtropical Architectural Science, Digital Laboratory construction,
            South China University of Technology Institute of Architectural
            Design and Luminous State Key Laboratory of Materials and Devices.
          </p>
        </div>
      </div>
    </div>
    <div class="tmc-section">
      <div class="row">
        <div class="col-md-7">
          <img src="./assets/title-whatwedo.png" class="tmc-fade" data-delay="1800" class="tmc-fade" />
        </div>
        <div class="visible-sm visible-xs tmc-re">
          <img src="./assets/circle.svg" class="tmc-fade" data-delay="1400"
            style="position: absolute;width: 7%;left: 25%;top: -8%;" />
          <img src="./assets/circle.svg" class="tmc-fade" data-delay="1200"
            style="position: absolute;width: 3%;left: 31%;top: 19%;" />
          <img src="./assets/bubble2.svg" class="tmc-fade" data-delay="400"
            style="width:23%;position:absolute;right:13%;top:-20%;" />
          <img src="./assets/whatwedo.svg" class="tmc-fade" />
        </div>
        <div class="col-md-5 tmc-fade" data-delay="200">
            <a href="#"><button class="home tmc-big" style="text-align: center; width: 86%; margin-left: 7%;">
              O-House
          </button></a>
          <p class="no-indent" data-tr-key="tr-home-3">
            As the only team participating in this competition in mainland
            China, this year, we will go abroad to the world and show the
            technology and strength of the Chinese team on a higher platform:
            for the high temperature, high humidity and dusty environmental
            conditions in the Middle East, on the one hand, we will refer to the
            climate adaptability strategy of traditional buildings in the Middle
            East to design our passive technology, such as learning The Middle
            East's wind tower technology and atrium ventilation technology,
            etc. On the other hand, we will integrate the existing green
            building and artificial intelligence technology with modern
            cutting-edge technology, and adopt the rapid construction technology
            of prefabricated housing to build an efficient and sustainable
            housing that really adapts to the Middle East.
          </p>
        </div>
      </div>
      <div class="row hidden-sm hidden-xs tmc-re" style="margin-top: 48px;">
        <img src="./assets/circle.svg" class="tmc-fade" data-delay="1400"
          style="position: absolute;width: 7%;left: 25%;top: -8%;" />
        <img src="./assets/circle.svg" class="tmc-fade" data-delay="1200"
          style="position: absolute;width: 3%;left: 31%;top: 19%;" />
        <img src="./assets/bubble2.svg" class="tmc-fade" data-delay="400"
          style="width:23%;position:absolute;right:13%;top:-20%;" />
        <img src="./assets/whatwedo.svg" class="tmc-fade" data-delay="200" />
      </div>
    </div>
    <div class="tmc-section">
      <div class="tmc-re" style="height: 6em;">
        <img src="./assets/timeline.svg" style="width: 100vw; position: absolute; left: calc(-50vw + 50%); top: 4em;" />
      </div>
      <div class="row tmc-re" style="margin-top: 2em;">
        <div class="col-md-6" style="margin-top: 1em;">
          <a href="#sdc2013"><button class="home tmc-big" style="text-align: center;">
            2013 SDC E-CONCAVE
        </button></a>
          <img src="./assets/sdc2013.png" style="margin-top: 2em;">
        </div>
        <div class="col-md-6" style="margin-top: 1em;">
          <a href="#sdc2018"><button class="home tmc-big" style="text-align: center;">
            2018 SDC Long Plan
        </button></a>
          <img src="./assets/sdc2018.png" style="margin-top: 2em;">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sponsorship" class="container-fluid tmc-re"
  style="background-color: #fff; margin-top: 58px; text-align: center;">
  <div style="text-align: center; width: 100vw; position: relative; top: -1.5em; left: 0;">
    <span style="color: #ffffff; background-color: #79a699; display: inline-block; font-size: 2em; padding: 5px 2em;">CONTACTS</span>
    <div></div>
    <iframe src="./components/support.html" style="width: 100%; height: 80vh;" frameborder="0"></iframe>
  </div>

</div>
<style>
  @media screen and (min-width: 1300px) {
    #sponsorship img {
      max-width: 70%;
    }
  }

  .tmc-subtitle {
    position: absolute;
    top: 12px;
    max-height: 65px;
    z-index: 11;
  }

  .tmc-sub {
    margin-top: 95px;
    width: 100%;
  }

  .tmc-big {
    font-size: 1.5em;
    font-weight: 600;
    z-index: 11;
  }

  .tmc-section {
    margin: 4em auto;
  }

  @media screen and (max-width: 991px) {
    .tmc-subtitle {
      left: 0 !important;
      right: 0 !important;
      position: relative;
      margin-top: 1.2em;
    }

    .tmc-sub {
      margin-top: 2.4em;
    }

    .tmc-big {
      font-size: 22px;
      color: white;
    }
  }

  #tmc-roller div {
    transition: transform 8s linear;
  }
</style>
<script>
  /* 对目标元素 roller 执行切换图片操作，且淡出后执行 outfn，淡入后执行 infn */
  function rollImg(el, offset, outfn, infn) {
    var rid = $(el).attr("id");
    imgCur[rid] = (imgCur[rid] + offset) % imgTot[rid];
    $(el)
      .children(":visible")
      .fadeOut(200, function () {
        var cur = $(el).children(":nth(" + imgCur[rid] + ")");
        if (typeof outfn == "function") outfn(cur);
        cur.fadeIn(200, function () {
          if (typeof infn == "function") infn(cur);
        });
      });
  }

  // 自动滚动且放大的 roller 设置
  var rollDone = true;
  function rollImgInt(offset) {
    if (!rollDone) return;
    if (!window.rollerHandle) return;
    if (offset == undefined) offset = 1;
    // 重置定时器
    clearInterval(window.rollerHandle);
    window.rollerHandle = setInterval(rollImgInt, 3000);
    rollDone = false;

    rollImg(
      "#tmc-roller",
      offset,
      function (cur) {
        cur.css("transform", "none");
      },
      function (cur) {
        rollDone = true;
        cur.css("transform", "scale(1)");
      }
    );
  }
  $(function () {
    setTimeout(function () {
      $("#tmc-roller")
        .children(":nth(0)")
        .css("transform", "scale(1)");
    }, 100);
    window.rollerHandle = setInterval(rollImgInt, 3000);
    window.beforeLoad = function () {
      clearInterval(rollerHandle);
    };
  });

  $(".tmc-fade").each(function (i, e) {
    var d = $(e).attr("data-delay");
    if (!d) d = 0;
    if (d == "slow") d = 500;
    ScrollReveal().reveal(e, {
      distance: "24px",
      duration: 1500,
      delay: d
    });
  });
</script>
