<div class="container-fluid">
    <style>
      .thumbnail {
        cursor: pointer;
      }
      .thumbnail h3 {
        font-size: 1.2em; 
        margin-top: 0px;
        margin-bottom: 10px;
      }    
      .thumbnail p {
        font-size: 1em; 
        margin: 0px;
        color: gray;
      }
      .thumbnail img {
        width: 100%;
        height: 100%;
      }
      
    </style>
  
    <div class="tmc-home-body">
    <h1 class="animated bounceInLeft" style="margin-left: 0px !important;" data-tr-zh="线下活动">Offline Activities</h1>
      <!-- 每一行都要套一个 .row 的 div，代表大屏幕下的一行 -->
      <div class="row">
  
        <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.25s; animation-duration: 1.25s;">
            <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/cDKTYDQlM_2eZJUKl42cWw">
              <img src="./assets/onlinesharing/zgq.jpg"  >
              <div class="caption">
                  <h3 data-tr-zh="团队专访｜钟冠球：理想主义践行者">Team Interview | Zhong Guanqiu: idealist practitioner(1)</h3>
                  <p class="no-indent" data-tr-zh="人生需要在年轻的时候做一些超越自己年龄段所能做到的事情。">Do something beyond your age when you are young.</p>
              </div>
            </div>
          </div><!-- 容器结束 -->
  

  
  
  
      </div> <!-- .row 结束 -->
    </div>
  </div>
  <script>
    $(".thumbnail").click(function (e) {
      var url = $(e.currentTarget).attr("data-url");
      if (!url) return;
      window.location = url;
    });
  </script>
  