<div class="container-fluid">
    <style>
      .thumbnail {
        cursor: pointer;
      }
      .thumbnail h3 {
        font-size: 1.2em; 
        margin-top: 0px;
        margin-bottom: 10px;
      }    
      .thumbnail p {
        font-size: 1em; 
        margin: 0px;
        color: gray;
      }
      .thumbnail img {
        width: 100%;
        height: 100%;
      }
      
    </style>
  
    <div class="tmc-home-body">
    <h1 class="animated bounceInLeft" style="margin-left: 0px !important;" data-tr-zh="团队专访">Team Interview</h1>
      <!-- 每一行都要套一个 .row 的 div，代表大屏幕下的一行 -->
      <div class="row"><!-- 第一行 -->
  
        <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.25s; animation-duration: 1.25s;">
            <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/TmGEpuVerUqlP4Z5WHaSjA">
              <img src="./assets/interview/zgq.jpg"  >
              <div class="caption">
                  <h3 data-tr-zh="团队专访｜钟冠球：理想主义践行者">Team Interview | Zhong Guanqiu: idealist practitioner</h3>
                  <p class="no-indent" data-tr-zh="人生需要在年轻的时候做一些超越自己年龄段所能做到的事情。">Do something beyond your age when you are young.</p>
              </div>
            </div> 
          </div><!-- 容器结束 -->
  
          <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.5s; animation-duration: 1.25s;">
            <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/nloo-PO-H2ayAPWarD3gNw">
              <img src="./assets/interview/wh.jpg"  >
              <div class="caption">
                  <h3 data-tr-zh="团队专访｜在TeamSCUT做设计：汪昊">Team Interview | Design at TeamSCUT: Wang Hao</h3>
                  <p class="no-indent" data-tr-zh="在迷茫中不断前行。">Keep moving forward in the confusion.</p>
              </div>
            </div> 
          </div><!-- 容器结束 -->
  
          <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.75s; animation-duration: 1.25s;">
            <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/P27Eu3-440IWmh_H7Ldeig">
              <img src="./assets/interview/ZWH.jpg"  >
              <div class="caption">
                  <h3 data-tr-zh="团队专访｜在TeamSCUT做设计：张文豪">Team Interview | Design at TeamSCUT: Zhang Wenhao</h3>
                  <p class="no-indent" data-tr-zh="我思故我在。">I think, therefore I am.</p>
              </div>
            </div> 
          </div><!-- 容器结束 -->

      </div> <!-- .row 结束 -->

      <div class="row"><!-- 第二行 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 1s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/KMVLNH1zuYX8WhhQ6DmzWw">
            <img src="./assets/interview/ZYQ.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜在TeamSCUT做宣传：张玥琪">Team Interview | Publicity at TeamSCUT: Zhang Yueqi</h3>
                <p class="no-indent" data-tr-zh="平面设计是我的心头好。">Graphic design is my favorite.</p>
            </div>
          </div> 
        </div><!-- 容器结束 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.25s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/KI57bttDaQcicLB5WuM5Lg">
            <img src="./assets/interview/LYW.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜在TeamSCUT做设备：梁英伟">Team Interview | Making devices at TeamSCUT: Liang Yingwei</h3>
                <p class="no-indent" data-tr-zh="说明书”是解开一切设备难题的关键。">Instruction manual is the key to solve all the equipment problems.</p>
            </div>
          </div> 
        </div><!-- 容器结束 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.50s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/wLKM32YM-Hv022EQkmsuJA">
            <img src="./assets/interview/ZZR.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜在TeamSCUT做设备：周忠瑞">Team Interview | Making devices at TeamSCUT: Zhou Zhongrui</h3>
                <p class="no-indent" data-tr-zh="不忘初心，方得始终。">The very beginning mind itself is the most accomplished mind of true enlightenment.</p>
            </div>
          </div> 
        </div><!-- 容器结束 -->

      </div><!-- .row 结束 -->

      <div class="row"><!-- 第三行 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.75s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/l3A0IxgHR7YZKI4bJVfCzg">
            <img src="./assets/interview/XYQ.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜肖毅强：做绿色设计，以实践育人">Team Interview | Xiao Yiqiang: devoted to green design and education. </h3>
                <p class="no-indent" data-tr-zh="打动别人的不仅仅是靠第一眼的颜值，还有整个建筑系统的内涵。">What impresses others is not only the appearance at first glance, but also the connotation of the entire building system.</p>
            </div>
          </div> 
        </div><!-- 容器结束 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.00s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/GvA4Dn9GCHWiR6ftqpayTw">
            <img src="./assets/interview/XF.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜在TeamSCUT做建造：徐斐">Team Interview | Engineering at TeamSCUT: Xu Fei</h3>
                <p class="no-indent" data-tr-zh="走弯路也是成长的一部分。">Detours are also part of growth.</p>
            </div>
          </div> 
        </div><!-- 容器结束 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.25s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/syW9tDo_cZo554ikiTS0KA">
            <img src="./assets/interview/WJ.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜王静：设计应以人为本">Team Interview | Wang Jing: design should be people-oriented</h3>
                <p class="no-indent" data-tr-zh="一个好的绿色建筑设计，还需要结合当地文化——空间上的回应、符号上的体现、构造上的考量等等。">A good green building design also needs to be integrated with the local culture -- spatial responses, symbolic representations, structural considerations and so on.</p>
            </div>
          </div> 
        </div><!-- 容器结束 -->

      </div><!-- .row 结束 -->

      <div class="row"><!-- 第四行 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.75s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/cSgsfBp0DTLHP1RdeR4KFQ">
            <img src="./assets/interview/GJR.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜关竣仁：依托实际，实现想象">Team Interview | Guan Junren: Relying on reality to realize imagination </h3>
                <p class="no-indent" data-tr-zh="愿因太阳能十项全能相会于此的团队的大家，比赛中是绿色理念的践行者，比赛后也能成为理想路上的同行人。">We hope that the team members who will meet here for the solar decathlon will be the practitioners of the green concept during the competition and will also be the ideal companions on the road after the competition.</p>
            </div>
          </div> 
        </div><!-- 容器结束 -->

        <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.00s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/fik221Wyj-w-z5Z9HmfOzQ">
            <img src="./assets/interview/WYC.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜王奕程：要相信办法总比困难多">Team Interview | Wang Yicheng: You should believe that solutions are always more than difficulties</h3>
                <p class="no-indent" data-tr-zh="整个竞赛过程一直在挑战自己的心理极限。">During the competition, I have been challenging my psychological limits.</p>
            </div>
          </div> 
        </div><!-- 容器结束 -->

      <!--<div class="col-md-4 animated fadeInUp" style="animation-delay: 2.25s; animation-duration: 1.25s;">
          <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/syW9tDo_cZo554ikiTS0KA">
            <img src="./assets/interview/WJ.jpg"  >
            <div class="caption">
                <h3 data-tr-zh="团队专访｜王静：设计应以人为本">Team Interview | Wang Jing: design should be people-oriented</h3>
                <p class="no-indent" data-tr-zh="一个好的绿色建筑设计，还需要结合当地文化——空间上的回应、符号上的体现、构造上的考量等等。">A good green building design also needs to be integrated with the local culture -- spatial responses, symbolic representations, structural considerations and so on.</p>
            </div>
          </div> 
        </div>--><!-- 容器结束 -->

      </div><!-- .row 结束 -->

    </div>

  </div>
  <script>
    $(".thumbnail").click(function (e) {
      var url = $(e.currentTarget).attr("data-url");
      if (!url) return;
      window.location = url;
    });
  </script>
  