<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width " />
<title>loading</title>
<style>
    @charset "utf-8";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fbfbfb;
}

.load{
    position: absolute;
    margin:auto;
    top:0;
    left:0;
    bottom:0;
    right:0;
	width:300px;
    height:300px;
}

</style>
</head>

<body>
        <img class="load" src="../assets/logonew.gif" alt>
</body>