<div class="container-fluid">
  <style>
    .mascot b {
      color: rgb(109, 142, 131);
      font-weight: 700;
    }
    .mascot en {
      color: rgb(160, 160, 160);
    }
    .mascot p {
      text-indent: 0;
    }
  </style>
  <div class="tmc-home-body mascot" style="max-width: 677px;">
    <h1 class="animated bounceInLeft" style="font-size: 2em;">吉祥物 Mascot<br><br></h1>
    <div style="text-align: center;">
      <img src="./assets/wx/1.gif" style="width: 30%;">
    </div>
    <p>
      hello！这里是和大家初次见面的<b>点点</b>，喜欢绿色、新鲜的空气和一切圆圆的东西，偶尔变身换个心情~<br>
      <en>Hello, this is the first time for me to meet you. My name is <b>Dimdim</b>. I like green color, fresh air and all round things. Sometimes I change my body according to my mood.</en>
    </p>
    <p>
      在接下来的日子里，我将参与到<b>可持续生活方式</b>的行动中，与<b>2020SDME x TeamSCUT全体队员</b>一起推广可持续生活方式与绿色建筑，推动环保理念与实践的创新。<br>
      <en>In the coming days, I will participate in the action of <b>sustainable lifestyle</b>, and promote sustainable lifestyle and green building together with all the members of <b>2020SDME x TeamSCUT</b>. In addition to that, we will try our best to promote the innovation of environmental protection concept and practice.</en>
    </p>
    <div style="text-align: center;">
      <img src="./assets/wx/2.gif" style="width: 30%;">
    </div>
    <p>
      希望大家可以和我点点一起，意识到<b>能源消耗的危机</b>、感受到<b>绿色生活的好处</b>，从而转变传统生活的观念，并<b>一起加入到我们的行动中</b>！<br>
      <en>I hope you can join me to realize the <b>crisis of energy consumption</b> and to feel <b>the benefits of green life</b>, so as to change the concept of traditional life and to <b>join us</b> in our action!</en>
    </p>
    <img src="./assets/wx/3.jpg" style="width: 100%;">
    <p>
      另外，点点与2020SDME x TeamSCUT全体成员将在2020年12月参加<b>2020国际太阳能十项全能竞赛</b>，并将太阳能、节能与建筑设计以一体化的新方式紧密结合，设计、建造并运行一座<b>高效节能、有吸引力的太阳能绿色房屋</b>。希望通过本次比赛能加快太阳能国际化的产学研融合与交流，推进相关技术创新、发展和商业化。<br>
      <en>In addition, Dimdim and 2020SDME x TeamSCUT will take part in the <b>2020 Solar Decathlon</b> in December 2020. We are going to integrate solar energy, energy saving and architectural design in a new and integrated way to design, build and operate <b>an energy-efficient and attractive solar green house</b>. We hope that this competition can accelerate the integration and exchange of international solar energy industry, universities and research institutes, and promote the innovation, development and commercialization of relevant technologies.</en>
    </p>
    <div style="text-align: center;">
      <img src="./assets/wx/4.gif" style="width: 30%;">
    </div>
    <p>
      你想不想和点点一起<b>为地球做出一点点贡献</b>呢！点点将会不定期在<b>2020SDME x TeamSCUT的微信公众平台</b>号召大家一起来参与行动，敬请期待！<br>
      <en>Do you want to <b>make a little contribution to the earth</b> with Dimdim? Dimdim will call on everyone to participate in the action <b>on WeChat public platform of 2020SDME x TeamSCUT</b> from time to time. Please look forward to it!</en>
    </p>
    <p>
      扫下方二维码下载点点表情包，密切关注点点动态哦~<br>
      <en>Scan the <b>QR code</b> below to download the Dimdim emoji, pay a close attention to Dimdim.</en>
    </p>
    <div style="text-align: center;">
      <img src="./assets/wx/5.jpg" style="width: 50%;">
      <img src="./assets/wx/6.jpg" style="width: 50%;">
      <p><small><en>特别鸣谢小粉红的友情出演</en></small></p>
      <img src="./assets/wx/7.gif" style="width: 30%;">
      <div style="margin: 50px 0;border-top: solid 1px;border-bottom: solid 1px;padding: 24px;font-weight: 700;line-height: 1.5em;font-size: 1.1em;">
        Team SCUT正式踏上2020SDME的征程<br>
        期待更多人才及相关企业的参与及鼎力支持！
      </div>
      <div style="margin-bottom: 24px;">- <b style="color: #000;">支持我们</b> SUPPORT US -</div>
      <small>
        联系人<br>
        张先生 +86 13660195506<br>
        germanhouge@teamscut.com<br><br>
        /<br><br>
        团队邮箱<br>
        business@teamscut.com<br><br>
        /<br><br>
        微信公众平台<br>
        2020SDME x TeamSCUT
      </small>
      <img src="./assets/wx/8.jpg" style="width: 100%;">
      <img src="./assets/wechat.jpg" style="width: 100%;">
    </div>
  </div>
</div>
