<div class="container-fluid">
        <style>
          .thumbnail {
            cursor: pointer;
          }
          .thumbnail h3 {
            font-size: 1.2em; 
            margin-top: 0px;
            margin-bottom: 10px;
          }    
          .thumbnail p {
            font-size: 1em; 
            margin: 0px;
            color: gray;
          }
          .thumbnail img {
            width: 100%;
            height: 100%;
          }
          
        </style>

        <div class="tmc-home-body">
        <h1 class="animated bounceInLeft" style="margin-left: 0px !important;" data-tr-zh="每周分享">Weekly Sharing</h1>
          <!-- 每一行都要套一个 .row 的 div，代表大屏幕下的一行 -->
          <div class="row">
      
          <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.25s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/oIPsbtvyPs0DneenrupQAA">
                <img src="./assets/onlinesharing/dubai.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨迪拜知多少"> Things About Dubai</h3>
                    <p class="no-indent" data-tr-zh="&thinsp一半海一半沙，除了土豪，迪拜还有什么？">With half sea and half sand, what else does Dubai have? </p>
                </div>
              </div>
            </div><!-- 容器结束 -->
      
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.5s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/FmwaqqavHNn1PQXoEYBPmg">
                <img src="./assets/onlinesharing/middle east architecture1.jpg">
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨中东传统建筑对自然环境的适应（一）">Adaptation of Traditional Architectures in Middle East to the Nature Environment(1)</h3>
                    <p class="no-indent" data-tr-zh="本回且看中东人民如何适应严酷气候。">How do Middle Eastern adapt to hash climate?</p>
                </div>
              </div>
            </div><!-- 容器结束 -->
 
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.75s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/HMvKRGS4Og3-XUGVGHx8vQ">
                <img src="./assets/onlinesharing/middle east architecture2.jpg">
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨中东传统建筑对自然环境的适应（二）">Adaptation of Traditional Architectures in Middle East to the Nature Environment(2)</h3>
                    <p class="no-indent" data-tr-zh="地域性建筑是不同社会历史阶段文化积淀的综合纪实。">Regional architecture is a comprehensive record ...</p>
                </div>
              </div>
            </div><!-- 容器结束 -->
 
      
          </div> <!-- .row 结束 -->

          <div class="row">
      
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 1s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/zXz4WW2g6Qu0OAEeF8E8Sw">
                  <img src="./assets/onlinesharing/alb1.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享丨传统阿拉伯伊斯兰城市建成环境与宗教习俗的关系（一）">The relationship between the built environment of traditional Arab Islamic cities and religious customs (1)</h3>
                      <p class="no-indent" data-tr-zh="伊斯兰教义的“真主法律”控制了传统穆斯林社会的政治、经济及生活的方方面面...">Islamic “Al-shari law” controls traditional politics, economy, and life in Muslim cities...</p>
                  </div>
                </div>
              </div><!-- 容器结束 -->

              <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.25s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/xglUFFrgn20TT1WYrxCKfQ">
                  <img src="./assets/onlinesharing/alb2.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享丨传统阿拉伯伊斯兰城市建成环境与宗教习俗的关系（二）">The relationship between the built environment of traditional Arab Islamic cities and religious customs (2)</h3>
                      <p class="no-indent" data-tr-zh="本次我们将“真主法律”另一重要原则——“社区团结原则”对城市建成环境的影响。">Islamic “Al-shari law” controls traditional politics, economy, and life in Muslim cities...</p>
                  </div>
                </div>
              </div><!-- 容器结束 -->

              <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.75s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/6A0gQ-THhUMmGiVz9QgcyQ">
                  <img src="./assets/onlinesharing/score.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享丨太阳能十项全能竞赛评分解读：主观评分项">Interpretation of the score of Solar Decathlon competition: Subjective Scoring Items</h3>
                      <p>&nbsp</p>
                      <p class="no-indent" data-tr-zh="接下来两周将为大家介绍十项全能竞赛的规则。">The next two weeks we will introduce you to the rules of the Solar Decathlon.</p>
                  </div>
                </div>
              </div><!-- 容器结束 -->

          </div><!-- .row 结束 -->

          <div class="row">
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 2s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/ExOUxi7xKaIxIjuPe-8nNQ">
                <img src="./assets/onlinesharing/score.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨太阳能十项全能竞赛评分解读：客观评分项">Interpretation of the score of Solar Decathlon competition: Objective Scoring Items</h3>
                    <p class="no-indent" data-tr-zh="本次将为大家介绍十项竞赛中剩下的四项客观评分项目：能源管理、房屋功能、舒适程度和节能驾驶。">This time we will introduce the remaining four objective individual evaluations ... </p>
                </div>
              </div>
            </div><!-- 容器结束 -->      

              <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.25s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/LVCNNW4OSnHXH7pO4Fo7Wg">
                  <img src="./assets/onlinesharing/score.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享｜太阳能十项全能竞赛通用规则解读">Interpretation of the score of Solar Decathlon competition: General Rules</h3>
                      <p class="no-indent" data-tr-zh="本次归纳介绍建筑和工程方面的通用规则。">This time, we will summarize the general rules of Architecture and Engineering.</p>
                  </div>
                </div>
              </div><!-- 容器结束 --> 

              <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.5s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/wTdv_gqUInMRHabmeeI1Cw">
                  <img src="./assets/onlinesharing/modular.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享｜装配式建筑的现在与未来">The present and future of prefabricated buildings</h3>
                      <p class="no-indent" data-tr-zh="从武汉火神山和雷神山医院看中国装配式建筑的发展和未来。">Looking at the development and future of prefabricated buildings in China ...</p>
                  </div>
                </div>
              </div><!-- 容器结束 --> 

          </div><!-- .row 结束 -->

          <div class="row">
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.75s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/GUiGduhRzuHN8o7g4CschA">
                <img src="./assets/onlinesharing/score.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜太阳能十项全能竞赛通用规则解读（二）">Interpretation of the score of Solar Decathlon competition: General Rules (2)</h3>
                    <p class="no-indent" data-tr-zh="本次归纳介绍能源、水处理和绿植方面的通用规则。">This time, we will summarize the general rules of Energy, Water Processing and Planting.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 3s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/rVC8TdGaVXIdE2UqsxkgnA">
                <img src="./assets/onlinesharing/materials.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜新型节能建筑材料知多少">Knowledge of new energy-saving building materials</h3>
                    <p class="no-indent" data-tr-zh="一起来看目前世界前沿的新型节能建筑材料。">Take a look at the world's most advanced new energy-saving building materials.</p>
                </div>
              </div>
            </div><!-- 容器结束 --> 

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 3.25s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/njlMQbja5z_nZZDlls4S6g">
                <img src="./assets/onlinesharing/bim.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜BIM 技术在绿色建筑设计中的应用">Application of BIM Technology in Green Building Design</h3>
                    <p class="no-indent" data-tr-zh="BIM技术在绿色建筑设计中的引用将多方面优化建筑。">The application of BIM Technology in green building design will optimize the building in many aspects.</p>
                </div>
              </div>
            </div><!-- 容器结束 --> 

          </div><!-- .row 结束 -->

          <div class="row">
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 3.5s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/Fvy01bdoqGiUR4lBdJa79Q">
                <img src="./assets/onlinesharing/greenarchi.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑建筑中常用的可持续技术：可再生能源">Sustainable Technologies Commonly Used in Green Buildings: Renewable Energy</h3>
                    <p class="no-indent" data-tr-zh="本周将和大家分享可再生能源技术的应用，其中主要介绍太阳能光伏技术。">This week we will share with you the application of renewable energy technology...</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 3.75s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/G-7t9zp-Srv5rrg3_xkb-g">
                <img src="./assets/onlinesharing/greenarchi2.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中常用的可持续技术：生物可降解材料">Sustainable Technologies Commonly Used in Green Architecture: Biodegradable Materials</h3>
                    <p class="no-indent" data-tr-zh="使用生物可降解材料，可以提高建筑垃圾的资源化率，降低回收污染。">Using biodegradable materials can improve the recycling rate of construction waste and reduce the recycling pollution.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 4s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/pcWXQAnOAz_5iDJIG5BxSQ">
                <img src="./assets/onlinesharing/watersaving.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中常用的可持续技术：节水技术">Sustainable Technologies Commonly Used in Green Architecture: Water Saving Technology</h3>
                    <p class="no-indent" data-tr-zh="在建筑给排水施工中运用节水节能技术，能大幅度缓解水资源浪费问题。">Using biodegradable materials can improve the recycling rate of construction waste and reduce the recycling pollution.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    
             
          </div><!-- .row 结束 -->

          <div class="row">
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 4.25s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/kza7WsV6ac0HAxO9moewdA">
                <img src="./assets/onlinesharing/warm.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中常用的可持续技术：保温材料的应用">Sustainable Technologies Commonly Used in Green Architecture: Application of Insulation Materials</h3>
                    <p class="no-indent" data-tr-zh="提高建筑外围护结构的保温性能，可以降低建筑耗能，提高建筑节能效果。">Improving the thermal insulation performance of the building envelope can reduce the energy consumption of the building and improve the energy-saving effect of the building.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 4.5s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/mei8iCX-g072ojlhlJ-vhg">
                <img src="./assets/onlinesharing/coldroof.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中常用的可持续技术：冷顶技术">Sustainable Technologies Commonly Used in Green Architecture: Cold Roofs Technology</h3>
                    <p class="no-indent" data-tr-zh="冷顶技术可以减少建筑能耗，缓解城市热岛效应。">Cold roofs technology can reduce building energy consumption and mitigate the urban heat island effect.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 4.75s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/kGYBnSpSzkKKgveI5uSPkQ">
                <img src="./assets/onlinesharing/glass.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜窗玻璃节能技术：电致变色玻璃">Window glass energy-saving technology: Electrochromic glass</h3>
                    <p class="no-indent" data-tr-zh="电致变色玻璃的颜色可随光照变化产生动态适应，实现最节能和舒适性。">The color of electrochromic glass can be dynamically adapted with the change of light to achieve the most energy saving and comfort.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    
             
          </div><!-- .row 结束 -->

          <div class="row">
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 5s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/V_Ryj4XMbCnmMI5GQ8YKTg">
                <img src="./assets/onlinesharing/lowe.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜窗玻璃节能技术：Low-E中空玻璃">Window glass energy-saving technology: Low-E insulating glass</h3>
                    <p class="no-indent" data-tr-zh="Low- E 中空玻璃可以极大地降低玻璃的辐射传热，进而达到环保节能的目的。">Low-e insulating glass can greatly reduce the radiant heat transfer of glass, thus achieving the goal of environmental protection and energy saving.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    
            

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 5.25s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/16bRgSIjd6DkjeOU1hm7OA">
                <img src="./assets/onlinesharing/AG.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜窗玻璃节能技术：气凝胶玻璃">Window glass energy-saving technology: Aerogel glass</h3>
                    <p class="no-indent" data-tr-zh="气凝胶作为一种新型纳米轻质、耐火、透明、绝热的高效保温隔热材料越来越受到人们的广泛关注。">Aerogel as a new type of nano light weight, fire resistance, transparent, thermal insulation and efficient thermal insulation material has attracted more and more attention.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->    
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 5.5s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/uGgpfbUjTbjO4OP3T0Kjkg">
                <img src="./assets/onlinesharing/DG.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中常用的可持续技术：双层玻璃幕墙">Sustainable Technologies Commonly Used in Green Architecture: Double-skin facade</h3>
                    <p class="no-indent" data-tr-zh="双层玻璃幕墙在隔绝声热，保温节能方面的性能明显优于传统的玻璃幕墙。">The double layer glass curtain wall is superior to the traditional glass curtain wall in the performance of insulation, heat preservation and energy saving.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->           
             
          </div><!-- .row 结束 -->

          <div class="row">

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 5.75s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/1tqZPUpqR7gnEY_XQl0m0g">
                <img src="./assets/onlinesharing/shading.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑建筑中常用的可持续技术：外遮阳结构">Sustainable Technologies Commonly Used in Green Architecture: External shading structure</h3>
                    <p class="no-indent" data-tr-zh="建筑遮阳能够提高外围护结构的热工性能、改善室内热环境，降低建筑能耗。">Building shading can improve the thermal performance of the envelope, improve the indoor thermal environment and reduce building energy consumption.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->        

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 6s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/-Btvt5QosTYmgBiZ2H44rA">
                <img src="./assets/onlinesharing/vertical.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑建筑中常用的生态景观技术：垂直绿化设计与运用">Ecological landscape Technologies Commonly Used in Green Architecture: Vertical greening design and application</h3>
                    <p class="no-indent" data-tr-zh="接下来的几期里，带大家了解一下绿色建筑中常用的生态景观技术。">In the next few issues, I will show you the commonly used ecological landscape technologies in green buildings.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->     

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 6.25s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/yAku3q_m1Ls8YBkqXEbeOw">
                <img src="./assets/onlinesharing/Aquaponics.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中常用的生态景观技术：鱼菜共生系统">Ecological landscape Technologies Commonly Used in Green Architecture: Fish and Vegetable Symbiosis System</h3>
                    <p class="no-indent" data-tr-zh="现代鱼菜共生系统的发展为都市农业提供了一项复合高效的应用技术。">The development of modern fish-vegetable symbiosis system provides a compound and efficient application technology for urban agriculture.</p>
                </div>
              </div>
            </div><!-- 容器结束 --> 

          </div><!-- .row 结束 -->

          <div class="row">

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 6.5s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/_NFBDrgXE6TyYrvz1WFk0A">
                <img src="./assets/onlinesharing/greenroof.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中常用的生态景观技术：屋顶绿化">Sustainable Technologies Commonly Used in Green Architecture: Green Roof</h3>
                    <p class="no-indent" data-tr-zh="人们开始探索适合城市绿化建设的其他方式，来为有限的城市空间增添绿意，改善环境，而屋顶绿化正好顺应当今城市生态建设的发展方向。">People began to explore other ways suitable for urban greening construction to add greenery to the limited urban space and improve the environment, and roof greening is just in line with the development direction of today's urban ecological construction.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->        

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 6s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/07KxF7UCG9ry821ZYgYQMg">
                <img src="./assets/onlinesharing/irrigation.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑建筑中常用的生态景观技术：绿化灌溉节水技术">Ecological landscape Technologies Commonly Used in Green Architecture: Greening irrigation water saving technology</h3>
                    <p class="no-indent" data-tr-zh="节水与水资源的有效利用是绿色建筑设计中值得注意的部分。">Water saving and effective use of water resources are noteworthy parts in the design of green buildings.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->     

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 6.25s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/XX6BEL5PThhFYx85Y66kww">
                <img src="./assets/onlinesharing/passivehouse.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中的工程技术：高效节能的被动房设计">Weekly Sharing｜Engineering Technology in Green Buildings: Energy-efficient Passive House Design</h3>
                    <p class="no-indent" data-tr-zh="采用被动设计策略来提高房屋舒适性并降低能耗">Use passive design strategies to improve house comfort and reduce energy consumption.</p>
                </div>
              </div>
            </div><!-- 容器结束 --> 

          </div><!-- .row 结束 -->

          <div class="row">

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 6.5s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/IOamNVIp02a7n1Y_KyCe5A">
                <img src="./assets/onlinesharing/passivehouse2.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中的工程技术：高效节能的被动房设计（2）">Weekly Sharing｜Engineering Technology in Green Buildings: Energy-efficient Passive House Design (2)</h3>
                    <p class="no-indent" data-tr-zh="建筑围护结构主要目的是提供一个舒适的室内环境，最重要的功能之一就是保温隔热。">The main purpose of the building envelope is to provide a comfortable indoor environment, and one of the most important functions is heat preservation.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->        

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 6s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/qtCFQFUZw3mXYcKA0eWJxg">
                <img src="./assets/onlinesharing/passivehouse3.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜绿色建筑中的工程技术：节能高效的被动房设计（3）无热桥设计">Weekly Sharing｜Engineering Technology in Green Buildings: Energy-efficient Passive House Design (3) No thermal bridge design</h3>
                    <p class="no-indent" data-tr-zh="热桥主要出现在墙体连接的结构处以及楼板、屋面、窗台的接缝处。">Thermal bridges mainly appear at the structural joints of walls and the joints of floor slabs, roofs, and window sills.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->     

            <div class="col-md-4 animated fadeInUp" style="animation-delay: 6.25s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/W4mIf5ylcr-NGDsp0U0exA">
                <img src="./assets/onlinesharing/passivehouse4.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享｜节能高效的被动房设计（4）气密性设计">Weekly Sharing｜Engineering Technology in Green Buildings: Energy-efficient Passive House Design (3) Airtight design</h3>
                    <p class="no-indent" data-tr-zh="建筑物的气密性是指在建筑保持密闭的情况下，围护结构对室内外空气流动交换的密封能力。">The airtightness of the building refers to the sealing ability of the indoor and outdoor air flow exchange of the building envelope when the building is kept airtight.</p>
                </div>
              </div>
            </div><!-- 容器结束 --> 

          </div><!-- .row 结束 -->

        </div>
      </div>
      <script>
        $(".thumbnail").click(function (e) {
          var url = $(e.currentTarget).attr("data-url");
          if (!url) return;
          window.location = url;
        });
      </script>
      