<div class="container-fluid">
        <style>
          .thumbnail {
            cursor: pointer;
          }
          .thumbnail h3 {
            font-size: 1.2em; 
            margin-top: 0px;
            margin-bottom: 10px;
          }    
          .thumbnail p {
            font-size: 1em; 
            margin: 0px;
            color: gray;
          }
          .thumbnail img {
            width: 100%;
            height: 100%;
          }
          
        </style>

        <div class="tmc-home-body">
        <h1 class="animated bounceInLeft" style="margin-left: 0px !important;" data-tr-zh="线上分享">Online Sharing</h1>
          <!-- 每一行都要套一个 .row 的 div，代表大屏幕下的一行 -->
          <div class="row">
      
          <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.25s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/-0KnGsbvm60vY7pU-ZkJgA">
                <img src="./assets/onlinesharing/dubai.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨迪拜知多少"> Things About Dubai</h3>
                    <p class="no-indent" data-tr-zh="&thinsp一半海一半沙，除了土豪，迪拜还有什么？">With half sea and half sand, what else does Dubai have? </p>
                </div>
              </div>
            </div><!-- 容器结束 -->
      
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.5s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/zpJ0WIXdtq3pIFFXCFHCIg">
                <img src="./assets/onlinesharing/middle east architecture1.jpg">
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨中东传统建筑对自然环境的适应（一）">Adaptation of Traditional Architectures in Middle East to the Nature Environment(1)</h3>
                    <p class="no-indent" data-tr-zh="本回且看中东人民如何适应严酷气候。">How do Middle Eastern adapt to hash climate?</p>
                </div>
              </div>
            </div><!-- 容器结束 -->
 
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 0.75s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/2DwcPrxlU9uz0GYZR8YgCg">
                <img src="./assets/onlinesharing/middle east architecture2.jpg">
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨中东传统建筑对自然环境的适应（二）">Adaptation of Traditional Architectures in Middle East to the Nature Environment(2)</h3>
                    <p class="no-indent" data-tr-zh="地域性建筑是不同社会历史阶段文化积淀的综合纪实。">Regional architecture is a comprehensive record ...</p>
                </div>
              </div>
            </div><!-- 容器结束 -->
 
      
          </div> <!-- .row 结束 -->

          <div class="row">
      
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 1s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/OUgNJFYAPBAwwS_tN8027w">
                  <img src="./assets/onlinesharing/alb1.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享丨传统阿拉伯伊斯兰城市建成环境与宗教习俗的关系（一）">The relationship between the built environment of traditional Arab Islamic cities and religious customs (1)</h3>
                      <p class="no-indent" data-tr-zh="伊斯兰教义的“真主法律”控制了传统穆斯林社会的政治、经济及生活的方方面面...">Islamic “Al-shari law” controls traditional politics, economy, and life in Muslim cities...</p>
                  </div>
                </div>
              </div><!-- 容器结束 -->

              <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.25s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/8z8xcp5OeUmXSxtP-Uqf3Q">
                  <img src="./assets/onlinesharing/alb2.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享丨传统阿拉伯伊斯兰城市建成环境与宗教习俗的关系（二）">The relationship between the built environment of traditional Arab Islamic cities and religious customs (2)</h3>
                      <p class="no-indent" data-tr-zh="本次我们将“真主法律”另一重要原则——“社区团结原则”对城市建成环境的影响。">Islamic “Al-shari law” controls traditional politics, economy, and life in Muslim cities...</p>
                  </div>
                </div>
              </div><!-- 容器结束 -->

              <div class="col-md-4 animated fadeInUp" style="animation-delay: 1.75s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/1LomMUCMPMp-KdR7gl87Fw">
                  <img src="./assets/onlinesharing/score.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享丨太阳能十项全能竞赛评分解读：主观评分项">Interpretation of the score of Solar Decathlon competition: Subjective Scoring Items</h3>
                      <p>&nbsp</p>
                      <p class="no-indent" data-tr-zh="接下来两周将为大家介绍十项全能竞赛的规则。">The next two weeks we will introduce you to the rules of the Solar Decathlon.</p>
                  </div>
                </div>
              </div><!-- 容器结束 -->

          </div><!-- .row 结束 -->

          <div class="row">
            
            <div class="col-md-4 animated fadeInUp" style="animation-delay: 2s; animation-duration: 1.25s;">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/Dd9YdUk6m1TF05cezIxMww">
                <img src="./assets/onlinesharing/score.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨太阳能十项全能竞赛评分解读：客观评分项">Interpretation of the score of Solar Decathlon competition: Objective Scoring Items</h3>
                    <p class="no-indent" data-tr-zh="本次将为大家介绍十项竞赛中剩下的四项客观评分项目：能源管理、房屋功能、舒适程度和节能驾驶。">This time we will introduce the remaining four objective individual evaluations ... </p>
                </div>
              </div>
            </div><!-- 容器结束 -->      

              <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.25s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/awT_qiv0ti_4kbQrvLHSJQ">
                  <img src="./assets/onlinesharing/score.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享｜太阳能十项全能竞赛通用规则解读">Interpretation of the score of Solar Decathlon competition: General Rules</h3>
                      <p class="no-indent" data-tr-zh="本次归纳介绍建筑和工程方面的通用规则。">This time, we will summarize the general rules of Architecture and Engineering.</p>
                  </div>
                </div>
              </div><!-- 容器结束 --> 

              <div class="col-md-4 animated fadeInUp" style="animation-delay: 2.5s; animation-duration: 1.25s;">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/kMXsm17eCUsu23JwqTX-fw">
                  <img src="./assets/onlinesharing/modular.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享｜装配式建筑的现在与未来">The present and future of prefabricated buildings</h3>
                      <p class="no-indent" data-tr-zh="从武汉火神山和雷神山医院看中国装配式建筑的发展和未来">Looking at the development and future of prefabricated buildings in China ...</p>
                  </div>
                </div>
              </div><!-- 容器结束 --> 

          </div><!-- .row 结束 -->



        </div>
      </div>
      <script>
        $(".thumbnail").click(function (e) {
          var url = $(e.currentTarget).attr("data-url");
          if (!url) return;
          window.location = url;
        });
      </script>
      