<div class="container-fluid">
        <style>
          .thumbnail {
            cursor: pointer;
          }
          .thumbnail h3 {
            font-size: 1.2em; 
            margin-top: 0px;
            margin-bottom: 10px;
          }    
          .thumbnail p {
            font-size: 1em; 
            margin: 0px;
            color: gray;
          }
          .thumbnail img {
            width: 100%;
            height: 100%;
          }
          
        </style>

        <div class="tmc-home-body">
        <h1 style="margin-left: 0px !important;" data-tr-zh="线上分享">Online Sharing</h1>
          <!-- 每一行都要套一个 .row 的 div，代表大屏幕下的一行 -->
          <div class="row">
      
          <div class="col-md-4">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/-0KnGsbvm60vY7pU-ZkJgA">
                <img src="./assets/onlinesharing/dubai.jpg"  >
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨迪拜知多少"> Things About Dubai</h3>
                    <p class="no-indent" data-tr-zh="一半海一半沙，除了土豪，迪拜还有什么？">With half sea and half sand, what else does Dubai have? </p>
                </div>
              </div>
            </div><!-- 容器结束 -->
      
            <div class="col-md-4">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/zpJ0WIXdtq3pIFFXCFHCIg">
                <img src="./assets/onlinesharing/middle east architecture1.jpg">
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨中东传统建筑对自然环境的适应（一）">Adaptation of Traditional Architectures in Middle East to the Nature Environment(1)</h3>
                    <p class="no-indent" data-tr-zh="本回且看中东人民如何适应严酷气候。">How do Middle Eastern adapt to hash climate?</p>
                </div>
              </div>
            </div><!-- 容器结束 -->
 
            <div class="col-md-4">
              <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/2DwcPrxlU9uz0GYZR8YgCg">
                <img src="./assets/onlinesharing/middle east architecture2.jpg">
                <div class="caption">
                    <h3 data-tr-zh="每周分享丨中东传统建筑对自然环境的适应（二）">Adaptation of Traditional Architectures in Middle East to the Nature Environment(2)</h3>
                    <p class="no-indent" data-tr-zh="地域性建筑是不同社会历史阶段文化积淀的综合纪实。">Regional architecture is a comprehensive record of cultural accumulation in different social and historical stages.</p>
                </div>
              </div>
            </div><!-- 容器结束 -->
 
      
          </div> <!-- .row 结束 -->

          <div class="row">
      
            <div class="col-md-4">
                <div class="thumbnail" data-url="https://mp.weixin.qq.com/s/OUgNJFYAPBAwwS_tN8027w">
                  <img src="./assets/onlinesharing/alb1.jpg"  >
                  <div class="caption">
                      <h3 data-tr-zh="每周分享丨传统阿拉伯伊斯兰城市建成环真主法律”控制了传统穆斯林社会的境与宗教习俗的关系（一）">The relationship between the built environment of traditional Arab Islamic cities and religious customs (1)</h3>
                      <p class="no-indent" data-tr-zh="伊斯兰教义的“真主法律”控制了传统穆斯林社会的政治、经济及生活的方方面面, 这一律法与行为之间的基本关系, 也使得传统阿拉伯伊斯兰城市建成环境受宗教影响强烈。“真主法律”主要以社会公平、社区团结及私密性三个原则, 对城市、居住区、邻里和建筑四个层面的形态特征进行控制, 使传统阿拉伯伊斯兰城市形成了空间形态特征鲜明的城市形态, 显示了宗教习俗对城市形态的影响作用。">Islamic “Al-shari law” controls traditional politics, economy, and life in Muslim cities. The law exerts strong influence on the four levels of city, residential area, neighborhood and architecture based on the three principles of social fairness, community solidarity and privacy, which makes the traditional Arab Islamic cities form urban forms with distinctive spatial features. The Influence of Religious Customs on Urban Morphology.</p>
                  </div>
                </div>
              </div><!-- 容器结束 -->


          </div>

        </div>
      </div>
      <script>
        $(".thumbnail").click(function (e) {
          var url = $(e.currentTarget).attr("data-url");
          if (!url) return;
          window.location = url;
        });
      </script>
      