<div class="container-fluid">
    <div class="tmc-home-body">
        <h1 data-tr-zh="2018太阳能十项全能竞赛中国赛区">2018 Solar Decathlon China</h1>
        <h2 data-tr-zh="2018 SDC 方案介绍 —— Long Plan">2018 SDC Project Overview —— Long Plan</h2>
        <div style="text-align: center; margin:25px 7%;">
            <img src="./assets/sdc2018/1.png" style="max-width: 100%; max-width: 900px;">
            <span class="tmc-img-text" style="margin-top:1em;" data-tr-zh="2018 SDC 方案实景图">2018 SDC project photos</span>
        </div>
        <p data-tr-key="sdc18-1">
            The Long -Plan Project enhances the freedom of use of space through the control of architectural order and advocates the idea of regaining natural life. As a long-lasting bond that maintains the feelings among the residents, the Longhouse Project integrates
            human comfort (+), energy saving (-), and urban effects (×), module construction (÷) Four strategies to return the life of ecology, humanities and technology to the city and let history go to the future.The application of modular design symbolizes
            an industrialized manufacturing process of the house in China which insure the prefabrication, construction and rapid transportation can be realized. ECONCAVE proposed a series of sustainable strategies, which reflect in the four main features:
            Saving, Comfort, Unitization, and Technology. </p>
        <p data-tr-key="sdc18-2">
            (1) Passive Technology:The sunlight room and the "Ecology Core" of multiple patios embedded in the long and narrow houses introduce natural air, moisture, sunlight, soil and life forms, turning the originally closed dark space into a comfortable and livable
            place, bringing vigor to the drying urban living.In the summer, the “Ecology Core”(the patio skylight) can be open, and the HVAC system is not needed. The natural ventilation is comfortable and pleasant. In the winter, the “Ecology Core” (the
            patio skylight) is closed, and with the high-performance enclosure insulation structure, by collecting the heat of the sun, the energy consumed for heating could be greatly reduced.In order to achieve maximum generating capacity and energy
            efficiency ratio, there 52 photovoltaic panels and 3 photovoltaic/thermal integrated panels on the roof at an inclined angle of 3°. As a result, ECONCAVE satisfies the requirements of negative energy consumption. The PVT panels laid in the
            middle of ECONCAVE roof, which can produce hot water through the heat from cell piece in the moment of power supply. Besides, with cleaning system designed on ECONCVE roof, it can not only satisfy regular cleaning of photovoltaic system in
            order to improve generation efficiency of PV panels, but also remove snow cover on PV panels together with snow-melting agent in the winter. </p>
        <div style="text-align: center; margin:25px 7%;">
            <img src="./assets/sdc2018/2.png" style="max-width: 100%; max-width: 900px;">
        </div>
        <p data-tr-key="sdc18-3">
            (2) Ecology Core:We are using landscape technologies to combine ecosystem with the house. Semi-exterior vertical garden that uses rainwater, aquaponics system that serve family health, and community-level rainwater gardens are essential elements of urban
            residential ecology, the whole house system forms a complete rainwater cycle that accelerates the rate of ecological carbon uptake.In terms of water resources utilization, ECONCAVE successfully collects rainwater and the storage tank at removes
            the suspended particle matter in the water from laundry, washing vegetable, shower, air conditioning condensate, landscape pond and rain. After the pre-treatment, the water will be pumped into the artificial wetland via pipes and then the
            clear water tank and finally, the output water quality meets the standard of urban miscellaneous water and scenic environment recycling water. Renewable materials are widely used in ECONCAVE. For example, we use sugarcane polyurethane, owing
            to its excellent thermal insulation performance, as the main insulation materials of roof, wall and floor. </p>
        <div style="text-align: center; margin:25px 7%;">
            <img src="./assets/sdc2018/3.png" style="max-width: 100%; max-width: 900px;">
        </div>
        <p data-tr-key="sdc18-4">
            3) High Efficiency Energy Source:From equipment to control system reducing the loss of energy and resources in the house, we encourage environmentally friendly green energy-saving design and lifestyle.At the meantime, ECONCAVE chooses multifunctional
            VRV system which integrates air source heat pump, floor, heating, condensation heat recovery and so on. All the innovation and technology insure that ECONCAVE meets the requirements of both comfort and energy saving.</p>
        <div style="text-align: center; margin:25px 7%;">
            <img src="./assets/sdc2018/4.png" style="max-width: 100%; max-width: 900px;">
        </div>
        <p data-tr-key="sdc18-5">
            (4)Smart housekeeping:Longhouse intelligent housekeeper masters a machine learning algorithm (AI), which calculates the most energy-efficient equipment operation mode and automatically regulates it through real-time data and user feedback. Perfect and
            convenient intelligent interactive system, suitable for young people's life scenarios, intelligent energy management system allows residents to conveniently control the house's hydropower equipment.</p>
        <div style="text-align: center; margin:25px 7%;">
            <img src="./assets/sdc2018/5.png" style="max-width: 100%; max-width: 900px;">
        </div>
        <h2 style="margin-top: 50px !important;" data-tr-zh="2018 SDC 获奖情况">2018 SDC Prizes</h2>
        <p data-tr-key="sdc18-6">
            Long-Plan won the total SDC2018 championship, the first in engineering, the first in innovation, the second in market potential, the second in architectural design and the fourth in communication.On August, 2013, Team SCUT won the total second prize in
            SDC2013, to be specific ：first prize in Market Promotion, Home Entertainment and Electrotechnical Application；second prize in Engineering Technology；third prize in Architecture and Communications </p>


        <div style="text-align: center; margin:25px 7%;">
            <img src="./assets/sdc2018/6.png" style="max-width: 100%; max-width: 900px;">
            <span class="tmc-img-text" style="margin-top:1em;" data-tr-zh="2018 SDC 获奖情况">2018 SDC Prizes</span>
        </div>
    </div>
</div>
