<div class="container-fluid">
    <div class="tmc-home-body">
      <h1 data-tr-zh="2013太阳能十项全能竞赛中国赛区">2013 Solar Decathlon China</h1>
      <h2 data-tr-zh="2013 SDC 方案介绍 —— E-CONCAVE">2013 SDC Project Overview —— E-CONCAVE</h2>
      <div style="text-align: center; margin:25px 7%;">
        <div style="display: flex; justify-content: space-around; align-items: center;">
            <img src="./assets/sdc2013/1.png" style="max-width: 100%; max-width: 470px;">
            <img src="./assets/sdc2013/2.png" style="max-width: 100%; max-width: 470px;">
        </div>
        <span class="tmc-img-text" style="margin-top:1em;" data-tr-zh="2013 SDC 方案实景图">2013 SDC project photos</span>
      </div>

      <p data-tr-key="sdc13-1">
        The application of modular design symbolizes an industrialized manufacturing process of the house in China which insure the prefabrication, construction and rapid transportation can be realized. ECONCAVE proposed a series of sustainable strategies, which reflect in the four main features: Saving, Comfort, Unitization, and Technology.      </p>
      <p data-tr-key="sdc13-2">
        In order to achieve maximum generating capacity and energy efficiency ratio, there 52 photovoltaic panels and 3 photovoltaic/thermal integrated panels on the roof at an inclined angle of 3°. As a result, ECONCAVE satisfies the requirements of negative energy consumption. The PVT panels laid in the middle of ECONCAVE roof, which can produce hot water through the heat from cell piece in the moment of power supply. Besides, with cleaning system designed on ECONCVE roof, it can not only satisfy regular cleaning of photovoltaic system in order to improve generation efficiency of PV panels, but also remove snow cover on PV panels together with snow-melting agent in the winter.      </p>
      <p data-tr-key="sdc13-3">
        In terms of water resources utilization, ECONCAVE successfully collects rainwater and the storage tank at removes the suspended particle matter in the water from laundry, washing vegetable, shower, air conditioning condensate, landscape pond and rain. After the pre-treatment, the water will be pumped into the artificial wetland via pipes and then the clear water tank and finally, the output water quality meets the standard of urban miscellaneous water and scenic environment recycling water. Renewable materials are widely used in ECONCAVE. For example, we use sugarcane polyurethane, owing to its excellent thermal insulation performance, as the main insulation materials of roof, wall and floor. </p>
      <p data-tr-key="sdc13-4">
        At the meantime, ECONCAVE chooses multifunctional VRV system which integrates air source heat pump, floor, heating, condensation heat recovery and so on. All the innovation and technology insure that ECONCAVE meets the requirements of both comfort and energy saving.</p>
        <div style="text-align: center; margin:25px 7%;">
            <img src="./assets/sdc2013/3.png" style="max-width: 100%; max-width: 900px;">
            <span class="tmc-img-text" style="margin-top:1em;" data-tr-zh="通风采光示意图">Ventilation and lighting diagram</span>
        </div>
      <h2 data-tr-zh="2013 SDC 获奖情况">2013 SDC Prizes</h2>
      <p data-tr-key="sdc13-5">
        On August, 2013, Team SCUT won the total second prize in SDC2013, to be specific ：first prize in Market Promotion, Home Entertainment and Electrotechnical Application；second prize in Engineering Technology；third prize in Architecture and Communications </p>
      <p data-tr-key="sdc13-6">
        Team SCUT of SDC2013 has applied for two patents: The Innovation of Household Hot Water Air Conditioning System of Solar Energy and Heat Pump and The Smart Home System controlled by the Kinect Posture. And also, our team members are studying on the topic of The Integration of Space Design and Passive Strategy, Application of BIM in Small Fabricated Houses, The Design of Solar House, and Analytical Software of technology in The Life span of Solar House.</p>

      <div style="text-align: center; margin:25px 7%;">
        <div style="text-align: center;">
            <img src="./assets/sdc2013/4.png" style="max-width: 100%; max-width: 500px; margin: 12px;">
            <img src="./assets/sdc2013/5.png" style="max-width: 100%; max-width: 500px; margin: 12px;">
            <img src="./assets/sdc2013/6.png" style="max-width: 100%; max-width: 500px; margin: 12px;">
        </div> 
        <span class="tmc-img-text" data-tr-zh=" 2013 SDC 方案室内实景照片">2013 SDC Project interior photos</span>
      </div>
    </div>
    </div>
    