<div class="container-fluid">
    <div class="tmc-home-body">
      <h1>2020 Solar Decathlon Middle East</h1>
      <h2>SDME Competition Introdustion</h2>
      <p data-tr-key="sdme-1">
          Under the patronage of His Highness Sheikh Hamdan bin Mohammed bin Rashid Al Maktoum, Crown Prince of Dubai and Chairman of Dubai Executive Council, the Dubai Supreme Council of Energy, Dubai Electricity and Water Authority, and the U.S. Department of Energy signed an agreement to collaborate on the development of Solar Decathlon Middle East on June 17, 2015.
      </p>
      <p data-tr-key="sdme-2">
        SDME consists of 10 contests that will follow the lines of those in previous editions of the competition, although having the necessary customization to challenge the teams to adapt their designs to the heat, dust & high humidity that we experience in the Middle East. The projects are developed by multidisciplinary teams, giving the students the opportunity to learn about technical issues, teamwork, communication skills, and sustainable lifestyle and socio-economic issues in order to ensure the viability of their project.Meanwhile, the organizer encourages to promote industry-university-research cooperation between the participating university and enterprises.
      </p>
      <h2>The Goals of SDME Competition</h2>
      <p>1. Teams are encouraged to think, use and design innovative renewable energy technologies, energy management and sustainable technologies.</p>
      <p>2. Encourage professionals, students and enterprises to work together.</p>
      <p>3. Educate the public to use renewable energy and use technical methods to help reduce energy use and improve energy efficiency.</p>
      <p>4. Encouraging the creation of comfortable zero-energy residential buildings and raising public awareness of using renewable energy in residential buildings.</p>
      <div style="text-align: center;">
        <img src="./assets/sdmec1.jpg" style="max-width: 100%; max-width: 500px;">
        <span class="tmc-img-text">Competition site of SDME</span>
      </div>
      <h2>The Opportunity of SDME 2020</h2>
      <p class="no-indent"><b>1. The connection with Expo 2020 Dubai:</b></p>
      <p>(1) DEWA (Dubai Electricity and Water Authority, the organiser of SDME) is the official sustainable energy partner of Expo 2020 Dubai, providing power and water for the Expo</p>
      <p>(2) SDME2020 coincides with the theme of Expo 2020 Dubai, holds final competitions during the Expo and extends the exhibition time to the end of the Expo (Exhibition for six months).</p>
      <p>(3) Independent showroom will be set up at the Expo 2020 to show the team's models, details, inno-vative designs and videos. The organizers will also arrange effective transport links between the Expo and the Solar Hai, and guide the Expo audience to the Solar Hai.</p>
      <p class="no-indent"><b>2. The connection with The Belt and Road initiative of China:</b></p>
      <p>As an important area along the "The Belt and Road initiative", the Middle East countries and China have deepened their cooperation and common development in recent years. In response to the call, Chinese enterprises have launched a series of important construction projects in the Middle East. Schoolenterprise cooperation in participating in international competitions is also conducive to enterprises' export of technology and expanding their influence.</p>
      <div style="text-align: center;">
        <img src="./assets/map.jpg" style="max-width: 100%; max-width: 500px;">
        <span class="tmc-img-text">Map of the Silk Road Economic Belt and the 21st-Century Maritime Silk Road</span>
      </div>
    </div>
    </div>
    