<div class="container-fluid">
    <div class="tmc-home-body">
      <h1 data-tr-zh="2020太阳能十项全能竞赛中东赛区">2020 Solar Decathlon Middle East</h1>
      <h2 data-tr-zh="竞赛介绍">SDME Competition Introdustion</h2>
      <p data-tr-key="sdme-1">
          Under the patronage of His Highness Sheikh Hamdan bin Mohammed bin Rashid Al Maktoum, Crown Prince of Dubai and Chairman of Dubai Executive Council, the Dubai Supreme Council of Energy, Dubai Electricity and Water Authority, and the U.S. Department of Energy signed an agreement to collaborate on the development of Solar Decathlon Middle East on June 17, 2015.
      </p>
      <p data-tr-key="sdme-2">
        SDME consists of 10 contests that will follow the lines of those in previous editions of the competition, although having the necessary customization to challenge the teams to adapt their designs to the heat, dust & high humidity that we experience in the Middle East. The projects are developed by multidisciplinary teams, giving the students the opportunity to learn about technical issues, teamwork, communication skills, and sustainable lifestyle and socio-economic issues in order to ensure the viability of their project.Meanwhile, the organizer encourages to promote industry-university-research cooperation between the participating university and enterprises.
      </p>
      <h2 data-tr-zh="竞赛目标">The Goals of SDME Competition</h2>
      <p style="margin-top: 1em !important; margin-bottom: 1em !important;" data-tr-zh="1、鼓励团队创新思考、运用、设计可再生能源技术、能源管理和可持续技术。">1. Teams are encouraged to think, use and design innovative renewable energy technologies, energy management and sustainable technologies.</p>
      <p style="margin-top: 1em !important; margin-bottom: 1em !important;" data-tr-zh="2、鼓励专业人士、学生和业界人士共同合作。">2. Encourage professionals, students and enterprises to work together.</p>
      <p style="margin-top: 1em !important; margin-bottom: 1em !important;" data-tr-zh="3、教育公众运用可再生能源，运用技术手段帮助公众减少能源使用，提高能源效率。">3. Educate the public to use renewable energy and use technical methods to help reduce energy use and improve energy efficiency.</p>
      <p style="margin-top: 1em !important; margin-bottom: 1em !important;" data-tr-zh="4、鼓励创造舒适的零能耗住宅，提高公众对可再生能源在住宅中运用的可能性认知。">4. Encouraging the creation of comfortable zero-energy residential buildings and raising public awareness of using renewable energy in residential buildings.</p>
      <div style="text-align: center;">
        <img src="./assets/sdmec1.jpg" style="max-width: 100%; max-width: 500px;">
        <span class="tmc-img-text" data-tr-zh="中东太阳能十项全能竞赛现场">Competition site of SDME</span>
      </div>
      <h2 data-tr-zh="竞赛机遇">The Opportunity of SDME 2020</h2>
      <p class="no-indent" style="margin-bottom: 0.7em !important; font-weight: 700 !important;" data-tr-zh="1.与2020迪拜世博会的密切联系："><b>1. The connection with Expo 2020 Dubai:</b></p>
      <p style="margin-top: 0.7em !important; margin-bottom: 0.7em !important;" data-tr-zh="(1) SDME2020主办方DEWA（迪拜电力与水务局）是迪拜世博会的官方可持续能源合作伙伴，为世博会提供电力和水源。">(1) DEWA (Dubai Electricity and Water Authority, the organiser of SDME) is the official sustainable energy partner of Expo 2020 Dubai, providing power and water for the Expo</p>
      <p style="margin-top: 0.7em !important; margin-bottom: 0.7em !important;" data-tr-zh="(2) SDME2020与迪拜世博会的主题契合，且在世博会期间举行决赛，并把展览时间延长至世博会结束（6个月的充分展示）。将在世博会设立独立的竞赛展馆，展示队伍的模型、细部构造、创新设计以及方案视频，主办方也会安排有效的连通世博会与竞赛场地的交通，引导世博会的观众前往太阳能比赛园区。">(2) SDME2020 coincides with the theme of Expo 2020 Dubai, holds final competitions during the Expo and extends the exhibition time to the end of the Expo (Exhibition for six months).</p>
      <p style="margin-top: 0.7em !important; margin-bottom: 0.7em !important;" data-tr-zh="(3) 作为“一带一路”沿线的重要地区，中东各国与中国近年来不断加深合作，共同发展。中国企业响应号召，在中东开展了一系列重要建设项目。校企合作参与国外大型竞赛，也有利于企业向外输出技术，扩大企业影响力。">(3) Independent showroom will be set up at the Expo 2020 to show the team's models, details, inno-vative designs and videos. The organizers will also arrange effective transport links between the Expo and the Solar Hai, and guide the Expo audience to the Solar Hai.</p>
      <p class="no-indent" style="margin-bottom: 0.7em !important; font-weight: 700 !important;" data-tr-zh="2.与国家一带一路战略的密切联系："><b>2. The connection with The Belt and Road initiative of China:</b></p>
      <p style="margin-top: 0.7em !important;" data-tr-zh="作为“一带一路”沿线的重要地区，中东各国与中国近年来不断加深合作，共同发展。中国企业响应号召，在中东开展了一系列重要建设项目。校企合作参与国外大型竞赛，也有利于企业向外输出技术，扩大企业影响力。">As an important area along the "The Belt and Road initiative", the Middle East countries and China have deepened their cooperation and common development in recent years. In response to the call, Chinese enterprises have launched a series of important construction projects in the Middle East. Schoolenterprise cooperation in participating in international competitions is also conducive to enterprises' export of technology and expanding their influence.</p>
      <div style="text-align: center;">
        <img src="./assets/map.jpg" style="max-width: 100%; max-width: 500px;">
        <span class="tmc-img-text" data-tr-zh="一带一路全球线路示意图">Map of the Silk Road Economic Belt and the 21st-Century Maritime Silk Road</span>
      </div>
    </div>
    </div>
    