<div class="container-fluid">
<div class="tmc-home-body">
  <h1 class="animated bounceInLeft" data-tr>Solar Decathlon</h1>
  <p data-tr-key="sd-1">
    The U.S. Department of Energy Solar Decathlon（SD）is an award-winning program that challenges collegiate teams to design, build and operate solar-powered houses that are cost-effective, energy-efficient and attractive.
  </p>
  <p data-tr-key="sd-2">
    Known as the Decathlon competition, it evaluates each home based on the performance in 10 contests. SD aims to promote industry-university-research cooperation in the industry and to facilitate innovation and intensive adoption of solar energy technologies.
  </p>
  <p data-tr-key="sd-3">
    Since the launch of SD in 2002, subsequent competitions have been hosted in U.S., Europe, China and middle East. Over 100 collegiate teams around the world have participated in these competitions. The competition displays scientific research and applications of the participating countries and regions in solar energy, as well as their new energy technologies and achievements in energy conservation and emission reduction.
  </p>
  <div class="row" style="text-align: center;">
    <div class="col-md-6">
      <img src="./assets/sd_us.jpg" style="max-width: 100%;">
      <span class="tmc-img-text" data-tr>Solar Decathlon in U.S</span>
    </div>
    <div class="col-md-6">
      <img src="./assets/sd_cn.png" style="max-width: 100%;">
      <span class="tmc-img-text" data-tr>Solar Decathlon in China</span>
    </div>
  </div>
</div>
</div>
