<div class="container-fluid">
    <div class="tmc-home-body">
        <h1 class="animated bounceInLeft" data-tr-zh="合作伙伴">Sponsorship</h1>
        <p data-tr-key="tr-sponsor-1">As the only team in this competition in mainland China, this year, we will cross out, go to the world, on a higher platform to show technology and strength from the Chinese team. Faced with different environmental conditions of high temperature, high humidity, and dustiness. On the one hand, we will take the traditional architecture climate adaptation strategies of the Middle East as a reference to our passive technology design, such as wind catcher and atrium ventilation technology. On the other hand, we will also introduce modern cutting-edge technology. We will integrate green building and artificial intelligence technology as well as adopting the rapid construction technology of prefabricated houses to build efficient and sustainable houses that are truly suitable for the Middle East.</p>
        <div style="text-align: center;">
            <img src="./assets/sponsor/support.jpg" style="width: 80%;">
        </div>
        <p data-tr-key="tr-sponsor-2">According to the total value provided by sponsors, we classify sponsors into super, first, second and third level sponsors, and make the following feedback:</p>
        <div style="text-align: center;">
            <img src="./assets/sponsor/sponsors.jpg" style="width: 80%;">
        </div>
        <p>
            <p data-tr-zh="1、与华南理工大学建筑学院签订合作协议">1. Signed a cooperation agreement with School of Architecture, South China University of Technology.</p>
            <p data-tr-zh="2、电视 / 报纸 / 学校 / 学院 / 团队的相关网站 / 官微 /INS/FB 等平台进行相关报道">2. Newspaper/school/college/team official wechat/Websites/ INS/ FB and other platforms for related reports.</p>
            <p data-tr-zh="3、海报 / 展板 / 宣传册 / 队服 / 书刊等宣传品与纪念品印发合作公司相关宣传资料">3. Relevant promotional materials of the cooperative company will be printed or distribute on posters/display boards/brochures/team uniforms/books and other promotional materials and souvenirs.</p>
            <p data-tr-zh="4、邀请企业参加竞赛现场产品与技术展示">4. Invite enterprises to participate in the on-site product and technology exhibition of the competition.</p>
            <p data-tr-zh="5、本次竞赛成果与世博会展示列入企业后期对外宣传工程案例">5. The results of the competition and the exhibition of the expo were included in the case of the enterprise's later external publicity project.</p>
            <p data-tr-zh="6、协助开拓国内 / 国外市场、达成最大宣传效益">6. Assisted in expanding domestic and foreign markets to achieve maximum publicity benefits.</p>
            <p data-tr-zh="7、在校内举办针对在校学生与设计院员工的培训会、宣讲会及招聘会">7. Hold training sessions, information sessions and job fairs for students and staff of the design institute.</p>
            <p data-tr-zh="8、团队师生到企业举办交流会及论坛">8. Teachers and students of the team will hold exchange meetings and forums in the enterprise.</p>
            <p data-tr-zh="9、与高校团队共同完成专利 / 论文 / 研究等相关成果">9. Completed patent/thesis/research and other related achievements together with the university team.</p>
            <p data-tr-zh="10、享有参赛项目技术与设计资料，图像多媒体">10. Enjoy the technical and design materials, image multimedia of the participating projects.</p>

        </p>
    </div>
</div>
