<style>
#concept-climate .row {
    margin: 30px 7%;
}
</style>

<div id="concept-climate" class="container-fluid">
    <div class="tmc-home-body">
        <h1 class="animated bounceInLeft" data-tr-zh="气候应当策略">Climate Adapting Strategy</h1>
        <h2 data-tr-zh="炎热地区中庭式民居">Atrium-style Houses in Hot Region</h2>

        <div class="row">
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c1.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="阿曼（中东）传统社区">Omani (Middle Eastern) Traditional Community</span>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c2.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="摩洛哥（北非）传统社区">Moroccan (North African) Traditional Communities</span>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c3.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="喀什（南疆）传统社区">Kashgar (Southern Xinjiang) Traditional Community</span>
                </div>
            </div>
        </div>

        <h2 data-tr-zh="中庭的气候适应性">Climatic adaptation of the Atrium</h2>
        <div class="row">
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c4.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="中东：阿曼典型民居">Middle Eastern: Omani Traditional Community</span>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c5.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="摩洛哥（北非）传统社区">North African: Moroccan Traditional Communities</span>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c6.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="喀什（南疆）传统社区">Southern Xinjiang: Kashgar Traditional Community</span>
                </div>
            </div>
        </div>

        <h2 data-tr-zh="中庭的气候适应性">Climatic adaptation of the Atrium</h2>
        <div class="row">
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c7.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="原型提取">Refining Prototype</span>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c8.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="遮挡屋顶面热辐射">Blocking heat radiation from the roof</span>
                    <span class="tmc-img-text" style="margin-top: 5px;" data-tr-zh="产生通风间层，整合光伏系统">Creating ventilation compartments and integrating photovoltaic systems</span>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c9.png" style="max-width: 100%; max-width: 500px;">
                    <span class="tmc-img-text" data-tr-zh="遮挡立面热辐射">Blocking heat radiation from the facade</span>
                    <span class="tmc-img-text" data-tr-zh="产生通风间层，整合辐射制冷技术">Generating ventilation compartments and integrating radiant cooling technology</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c10.png" style="max-width: 100%; max-width: 500px;">
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c11.png" style="max-width: 100%; max-width: 500px;">
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img src="./assets/concept/c12.png" style="max-width: 100%; max-width: 500px;">
                </div>
            </div>
        </div>
    </div>
</div>
