<div class="row">

  <div class="col-md-6 animated fadeInUp"  style="animation-delay: 0.25s; animation-duration: 1.25s;">
    <div class="col-md-12" style="border: 1px solid #ddd; border-radius: 4px; padding: 0px; position: relative;">
      <div class="col-md-6" style="padding: 15px;">
        <div class="caption">
          <h4 style="margin-top: 0px;" data-tr-zh="气候分析（1）">Evironmental Analysis(1)</h4>
          <p1 data-tr-zh="本回且看中东人民如何适应严酷气候。">How do Middle Eastern adapt to hash climate?</p1>
        </div>
      </div>
      <div class="col-md-6" style="padding: 15px;">
        <img src="./assets/onlinesharing/middle east architecture1.jpg"  >
      </div>
      <a href="https://mp.weixin.qq.com/s/zpJ0WIXdtq3pIFFXCFHCIg"><button class="cards" style="text-align: center; width: 25%; display: block; position: absolute; left: 15px; bottom: 15px;">
        More detail
      </button></a>
    </div>
  </div><!-- 容器结束 -->

  <div class="col-md-6 animated fadeInUp"  style="animation-delay: 0.25s; animation-duration: 1.25s;">
            <div class="col-md-12" style="border: 1px solid #ddd; border-radius: 4px; padding: 0px; position: relative;">
      <div class="col-md-6" style="padding: 15px;">
        <div class="caption">
          <h4 style="margin-top: 0px;" data-tr-zh="气候分析（2）">Evironmental Analysis(2)</h4>
          <p1 data-tr-zh="地域性建筑是不同社会历史阶段文化积淀的综合纪实。">Regional architecture is a comprehensive record of cultural accumulation ...</p1>
        </div>
      </div>

      <div class="col-md-6" style="padding: 15px;">
        <img src="./assets/onlinesharing/middle east architecture2.jpg"  >
      </div>
      <a href="https://mp.weixin.qq.com/s/2DwcPrxlU9uz0GYZR8YgCg"><button class="cards" style="text-align: center; width: 25%; display: block; position: absolute; left: 15px; bottom: 15px;">
        More detail
      </button></a>
    </div>
  </div><!-- 容器结束 -->

</div><!-- 第一行行结束 -->

<div class="row">
  <div class="col-md-6 animated fadeInUp"  style="animation-delay: 0.25s; animation-duration: 1.25s;">
    <div class="col-md-12" style="border: 1px solid #ddd; border-radius: 4px; padding: 0px; position: relative;">
      <div class="col-md-6" style="padding: 15px;">
        <div class="caption">
          <h4 style="margin-top: 0px;" data-tr-zh="气候应对策略">Climate Adapting Strategy</h4>
          <p1 data-tr-zh="通过能耗模拟对比辅助选择">Optimise——Outdo——Onward</p1>
        </div>
      </div>
      <div class="col-md-6" style="padding: 15px;">
        <img src="./assets/concept/climate1.jpg"  >
      </div>
      <a href="#concept/climate"><button class="cards" style="text-align: center; width: 25%; display: block; position: absolute; left: 15px; bottom: 15px;">
        More detail
      </button></a>
    </div>
  </div><!-- 容器结束 -->
</div><!-- 第二行行结束 -->