<div class="container-fluid">
  <div class="tmc-home-body">
    <h1 class="animated bounceInLeft" data-tr-zh="方案概况">Project Overview</h1>
    <h2 data-tr-zh="日常工作">Daily Works</h2>
    <div style="text-align: center; margin: 30px 7%;">
      <img src="./assets/overview/schedule.jpg" style="width: 100%;">
    </div>
    <!-- <h2 data-tr-zh="整体概念">General Concept</h2> -->
    <!-- <div style="text-align: center; margin: 30px 7%;">
      <img src="./assets/overview/1.jpg" style="width: 100%;">
    </div>
    <div style="text-align: center; margin: 30px 7%;">
      <img src="./assets/overview/2.jpg" style="width: 100%;">
    </div>
    <div style="text-align: center; margin: 30px 7%;">
      <img src="./assets/overview/3.jpg" style="width: 100%;">
    </div> -->

  </div>
</div>
