<style>
    .icon-bar{
        height: 240px;
        background-color: #6f8777;
    }
    .icon-bar-item {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .p2 .icon {
        margin-top: 20px;
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50px;
        text-align: center;
        line-height: 100px;
        font-size: 50px;
        color: #6f8777;
    }
    .p2 .icon-name {
        font-size: 20px;
        margin-top: 20px;
        color: white;
    }


</style>

<div class="p1">
    <div class="row">
        <div class="col-md-6">
            <div  style="margin-left: 50px; margin-top: 30px;">
                <img src="./assets/about/team1.png" alt="" width="900px">
            </div>

        </div>
        <div class="col-md-6" >
            <div style="position: relative; height: 800px;">
                <div class="title" style="position: absolute; top:45%; right: 0; text-align: right; font-size: 70px; color: #6f8777; margin-right: 35px;" data-tr-zh="团队资历">Team Profiles</div>
                <div class="text" style="border-top: 1px solid black;position: absolute; top:60%; right: 0; width: 90%; text-align: justify; padding-top: 30px; font-size: 16px; margin-right: -15px;">
                    <p style="margin-right: 50px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur voluptatum eligendi minima perspiciatis delectus maxime, quibusdam ex quasi recusandae ad quia incidunt nihil, assumenda eum reprehenderit quam facilis quisquam, quaerat rem ab officia mollitia? Quis illo voluptate illum, neque est omnis ab? Aliquam adipisci distinctio reprehenderit, asperiores hic, corporis nihil ipsa provident culpa quam numquam doloremque, quibusdam quos commodi? Eos doloribus magni ab ipsum dolore? Repellat, enim, eaque dicta sit cumque fugit illum consequatur, asperiores veritatis fugiat placeat cum accusantium inventore a nulla? Eligendi sunt maiores hic tempore unde non atque quod doloremque, repudiandae eius corrupti iste eum laudantium fuga.</p>
                </div>
            </div>
        </div> 
    </div>

<div class="p2">
    <div class="row" >
        <div class="icon-bar" >
            <div class="col-md-3 icon-bar-item">
                <div class="icon">15</div>
                <div class="icon-name" data-tr-zh="学科领域">Subject</div>
            </div>
            <div class="col-md-3 icon-bar-item">
                <div class="icon">8</div>
                <div class="icon-name" data-tr-zh="指导老师">Tutors</div>
            </div>
            <div class="col-md-3 icon-bar-item">
                <div class="icon">24</div>
                <div class="icon-name" data-tr-zh="相关顾问">Consultants</div>
            </div>
            <div class="col-md-3 icon-bar-item">
                <div class="icon">1</div>
                <div class="icon-name" data-tr-zh="国家重点实验室">National key laboratory</div>
            </div>   
        </div>
    </div>
</div>

<div class="p3" style="height: 1000px; margin-top: 150px;">
    <iframe id="member-iframe" src="./components/members/new_members.html" style="width: 100%; height: 100%;" frameborder="0"></iframe>
</div>

<div class="p4" style="height: 800px; background-color: #6f8777;">



</div>

</div>
